Repository mdasifbinkhaled/mdasifbinkhaled.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(apps): phase 12.3 — apply shared primitives to remaining tools
  src/features/apps/components/course-planner/course-planner.tsx
  src/features/apps/components/exam-countdown/exam-countdown.tsx
  src/features/apps/components/gpa-calculator/gpa-calculator.tsx
  src/features/apps/components/grade-calculator.tsx
  src/features/apps/components/study-timer/study-timer.tsx
  src/shared/components/common/tool-settings.tsx
  tests/features/apps/exam-countdown.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(apps): phase 12.4 — spreadsheet importers for GPA / Course / Exam
  .cockpit/ROADMAP.md
  src/features/apps/components/course-planner/course-planner.tsx
  src/features/apps/components/exam-countdown/exam-countdown.tsx
  src/features/apps/components/gpa-calculator/gpa-calculator.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore(qa): sync phase 12 status and fix repo typecheck
  .cockpit/INDEX.md
  .cockpit/adr/ADR-007-apps-io-redesign.md
  tests/features/apps/seat-planner.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: ship deferred roadmap items
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ROADMAP.md
  .cockpit/adr/ADR-005-student-tools.md
  package-lock.json
  package.json
  src/app/about/page.tsx
  src/app/apps/pdf-study-aid/page.tsx
  src/app/research/page.tsx
  src/features/about/components/bilingual-introduction.tsx
  src/features/about/components/index.ts
  src/features/about/index.ts
  src/features/apps/components/index.ts
  src/features/apps/components/pdf-study-aid/pdf-study-aid.tsx
  src/features/apps/components/pdf-study-aid/study-aid.ts
  src/features/apps/index.ts
  src/features/publications/components/publication-list.tsx
  src/features/research/components/index.ts
  src/features/research/components/research-timeline.tsx
  src/features/research/index.ts
  src/shared/components/common/icons.tsx
  src/shared/components/common/tool-settings.tsx
  src/shared/components/ui/command-menu.tsx
  src/shared/config/apps.ts
  src/shared/lib/analytics.ts
  src/shared/lib/data/personal.ts
  src/shared/types/pdfjs-dist.d.ts
  tests/e2e/fixtures/routes.ts
  tests/features/about/about-components.test.tsx
  tests/features/apps/pdf-study-aid.test.tsx
  tests/features/publications/publication-list.test.tsx
  tests/features/research/research-components.test.tsx
  tests/shared/components/ui/command-menu.test.tsx
  tests/shared/lib/analytics.test.ts
  tests/tsconfig.json
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: improve importer upload workflow
  src/features/apps/components/course-planner/course-planner.tsx
  src/features/apps/components/exam-countdown/exam-countdown.tsx
  src/features/apps/components/gpa-calculator/gpa-calculator.tsx
  src/features/apps/components/seat-planner/room-configuration.tsx
  src/features/apps/components/seat-planner/student-data-panel.tsx
  src/shared/components/common/data-importer.tsx
  tests/shared/components/common/data-importer.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat: harden seat planner import and export flow
  package-lock.json
  package.json
  src/app/globals.css
  src/features/apps/components/seat-planner/csv-export.ts
  src/features/apps/components/seat-planner/exam-details-form.tsx
  src/features/apps/components/seat-planner/export-utils.ts
  src/features/apps/components/seat-planner/pdf-export.ts
  src/features/apps/components/seat-planner/seat-plan-print-document.tsx
  src/features/apps/components/seat-planner/seat-plan-results.tsx
  src/features/apps/components/seat-planner/seat-planner.tsx
  src/features/apps/components/seat-planner/types.ts
  src/features/apps/components/seat-planner/use-seat-planner.ts
  src/shared/components/common/data-importer.tsx
  tests/features/apps/seat-planner-export-utils.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat: harden seat planner imports
  src/features/apps/components/seat-planner/csv-export.ts
  src/features/apps/components/seat-planner/import-utils.ts
  src/features/apps/components/seat-planner/room-configuration.tsx
  src/features/apps/components/seat-planner/student-data-panel.tsx
  src/features/apps/components/seat-planner/types.ts
  src/features/apps/components/seat-planner/use-seat-planner.ts
  src/shared/components/common/data-importer.tsx
  src/shared/lib/parsers/papaparse-adapter.ts
  src/shared/lib/parsers/schema.ts
  src/shared/lib/parsers/tabular.ts
  src/shared/lib/parsers/types.ts
  src/shared/lib/parsers/xlsx-adapter.ts
  tests/features/apps/seat-planner-csv-export.test.ts
  tests/features/apps/seat-planner-import-utils.test.ts
  tests/features/apps/seat-planner-panels.test.tsx
  tests/features/apps/seat-planner-state.test.tsx
  tests/shared/components/common/data-importer.test.tsx
  tests/shared/lib/parsers.test.ts
  tests/shared/lib/xlsx-adapter.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat: improve seat planner exports
  src/features/apps/components/seat-planner/csv-export.ts
  src/features/apps/components/seat-planner/export-utils.ts
  src/features/apps/components/seat-planner/pdf-export.ts
  src/features/apps/components/seat-planner/seat-plan-print-document.tsx
  src/features/apps/components/seat-planner/seat-plan-results.tsx
  src/features/apps/components/seat-planner/shared-ui.tsx
  src/features/apps/components/seat-planner/student-data-panel.tsx
  src/features/apps/components/seat-planner/use-seat-planner.ts
  tests/features/apps/seat-planner-export-utils.test.ts
  tests/features/apps/seat-planner-panels.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: tighten seat planner imports and exports
  src/features/apps/components/seat-planner/export-utils.ts
  src/features/apps/components/seat-planner/import-utils.ts
  src/features/apps/components/seat-planner/room-configuration.tsx
  src/shared/components/common/data-importer.tsx
  tests/features/apps/seat-planner-export-utils.test.ts
  tests/features/apps/seat-planner-import-utils.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat: redesign seat planner workflow
  src/features/apps/components/seat-planner/exam-details-form.tsx
  src/features/apps/components/seat-planner/pdf-export.ts
  src/features/apps/components/seat-planner/room-configuration.tsx
  src/features/apps/components/seat-planner/seat-plan-results.tsx
  src/features/apps/components/seat-planner/seat-planner.tsx
  src/features/apps/components/seat-planner/student-data-panel.tsx
  src/features/apps/components/seat-planner/use-seat-planner.ts
  tests/features/apps/seat-planner-panels.test.tsx
  tests/features/apps/seat-planner-state.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: raise seat planner reset contrast
  src/features/apps/components/seat-planner/seat-planner.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: sync cockpit after seat planner redesign
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/PMD.md
  .cockpit/RELEASES.md
  src/shared/config/apps.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: broaden seat planner section inference
  src/features/apps/components/seat-planner/import-utils.ts
  src/features/apps/components/seat-planner/seat-planner.tsx
  src/features/apps/components/seat-planner/student-data-panel.tsx
  tests/features/apps/seat-planner-import-utils.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(seat-planner): add faculty metadata to importer and fix modal scroll overflow
  src/app/about/page.tsx
  src/features/apps/components/seat-planner/seat-planner.tsx
  src/features/apps/components/seat-planner/student-data-panel.tsx
  src/features/apps/components/seat-planner/use-seat-planner.ts
  src/shared/components/common/data-importer.tsx
  src/shared/lib/parsers/types.ts
  tests/features/apps/seat-planner-panels.test.tsx
  tests/features/apps/seat-planner-state.test.tsx
  tests/shared/components/common/data-importer.test.tsx
  tmp/seat-planner-check/seat-planner-right-rail.png
  tmp/seat-planner-qa/seat-planner-empty-desktop.png
  tmp/seat-planner-qa/seat-planner-empty-redesign.png
  tmp/seat-planner-qa/seat-planner-filled-desktop.png
  tmp/seat-planner-qa/seat-planner-filled-mobile.png
  tmp/seat-planner-qa/seat-planner-filled-redesign-desktop.png
  tmp/seat-planner-qa/seat-planner-filled-redesign-mobile.png
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs(cockpit): sync health dashboard metrics with actual build output
  .cockpit/INDEX.md
Due: prettier --write

fix(audit): repair release blockers
  public/cv/CV_Md_Asif_Bin_Khaled.pdf
  public/favicon.ico
  public/images/abstract_profile.png
  src/app/robots.ts
  src/features/research/components/open-source.tsx
  src/shared/components/layout/app-sidebar-layout.tsx
  src/shared/config/site.ts
  src/shared/lib/data/courses/iub-cse211/modules.ts
  src/shared/lib/data/publications.ts
  src/shared/lib/data/research.ts
  tests/features/research/research-components.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: harden planner flows and sync validation docs
  .cockpit/INDEX.md
  .cockpit/PACKAGING.md
  .cockpit/PMD.md
  .cockpit/ROADMAP.md
  .cockpit/STRUCTURE.md
  .github/workflows/cross-browser-e2e.yml
  README.md
  TESTING.md
  src/features/apps/components/course-planner/course-plan-utils.ts
  src/features/apps/components/course-planner/course-planner.tsx
  src/features/apps/components/course-planner/topo-sort.ts
  src/features/apps/components/study-timer/study-timer.tsx
  tests/features/apps/course-planner.test.tsx
  tests/features/apps/study-timer.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat: added all the courses
  src/app/layout.tsx
  src/features/apps/components/course-planner/course-plan-utils.ts
  src/features/apps/components/course-planner/course-planner.tsx
  src/features/apps/components/course-planner/presets.ts
  src/features/apps/components/course-planner/topo-sort.ts
  src/features/apps/components/course-planner/types.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs(cockpit): truth-sync after Tanvir merge (f1c7dd9)
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/ROADMAP.md
Due: prettier --write

feat(course-planner): cascade-uncomplete on remove + a11y wins + coverage ratchet
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  src/features/apps/components/course-planner/course-planner.tsx
  src/features/apps/components/course-planner/presets.ts
  src/features/apps/components/pdf-study-aid/pdf-study-aid.tsx
  src/features/apps/components/study-timer/study-timer.tsx
  tests/features/apps/course-planner.test.tsx
  tests/features/apps/topo-sort.test.ts
  vitest.config.mts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: sync audit docs and planner presets
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PACKAGING.md
  .cockpit/PMD.md
  .cockpit/ROADMAP.md
  .cockpit/adr/SPIKE-pdf-lib.md
  .github/workflows/security.yml
  src/app/global-error.tsx
  src/app/globals.css
  src/features/apps/components/course-planner/presets/index.ts
  src/features/apps/components/course-planner/presets/iub-cse.ts
  src/features/apps/components/grade-calculator.tsx
  src/features/apps/components/study-timer/study-timer.tsx
  src/shared/components/layout/app-sidebar-layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: resolve stale dependency queue
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/PACKAGING.md
  .cockpit/PMD.md
  package-lock.json
  package.json
Due: prettier --write

ci: upgrade codeql action to v4
  .cockpit/HISTORY.md
  .cockpit/PACKAGING.md
  .github/workflows/security.yml
Due: prettier --write

feat(teaching): roll cse211 to summer 2026
  .cockpit/GOVERNANCE.md
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PACKAGING.md
  .cockpit/PMD.md
  .cockpit/RELEASES.md
  .cockpit/ROADMAP.md
  .cockpit/STRUCTURE.md
  .cockpit/adr/SPIKE-pdf-lib.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .github/workflows/security.yml
  .husky/commit-msg
  commitlint.config.mjs
  eslint.config.mjs
  package-lock.json
  package.json
  playwright.config.ts
  scripts/generate-service-worker.mjs
  scripts/serve-static.mjs
  scripts/validate-commit-message.mjs
  src/features/teaching/components/course-hero.tsx
  src/shared/components/infra/sw-register.tsx
  src/shared/lib/course-utils.ts
  src/shared/lib/data/courses/iub-cse211/index.ts
  src/shared/lib/data/courses/iub-cse211/resources.ts
  src/shared/lib/data/courses/iub-cse211/schedule.ts
  src/shared/lib/data/courses/iub-cse211/term.ts
  src/shared/types/index.ts
  tests/features/teaching/teaching-components.test.tsx
  tests/shared/lib/course-data.test.ts
  tests/shared/lib/course-utils.test.ts
  workbox-config.cjs
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(teaching): add cse211 summer 2026 contest and discord links
  src/features/teaching/components/contest-countdown.tsx
  src/shared/lib/data/courses/iub-cse211/resources.ts
  src/shared/lib/data/courses/iub-cse211/schedule.ts
  src/shared/types/index.ts
  tests/shared/lib/course-data.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(teaching): scope discord link label to CSE 211
  src/shared/lib/data/courses/iub-cse211/resources.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(teaching): show contest card without endDate in ContestCountdown
  src/features/teaching/components/contest-countdown.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs(teaching): update cse211 summer 2026 course outline URLs
  src/shared/lib/data/courses/iub-cse211/resources.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore(audit): resolve dependency warnings and harden service worker and parser boundaries
  package-lock.json
  package.json
  scripts/generate-service-worker.mjs
  src/shared/lib/parsers/tabular.ts
  tests/shared/config/service-worker.test.ts
  tests/shared/lib/parsers.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: truth-sync after AUD-2026-05 forensic audit
  .cockpit/INDEX.md
  .cockpit/PMD.md
  README.md
  TESTING.md
  public/humans.txt
Due: prettier --write

fix: high-impact code correctness from AUD-2026-05
  src/features/apps/components/seat-planner/allocation.ts
  src/shared/lib/data/researcher-profile.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(security): tighten Sentry sampling, refine CSP, drop phantom robots paths
  src/app/layout.tsx
  src/app/robots.ts
  src/shared/components/infra/sentry-init.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore(deps): safe minor + patch bumps from AUD-2026-05
  package-lock.json
  package.json
Due: prettier --write

chore(release): v1.5.1 — AUD-2026-05 forensic audit closeout
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PMD.md
  .cockpit/RELEASES.md
  .cockpit/ROADMAP.md
  package.json
Due: prettier --write

chore: modernize toolchain for v1.5.2
  knip.json
  package-lock.json
  package.json
  postcss.config.mjs
  src/app/contact/page.tsx
  src/features/apps/components/study-timer/study-timer.tsx
  src/features/home/components/connect-section.tsx
  src/features/teaching/components/syllabus-table.tsx
  src/shared/components/common/academic-profiles.tsx
  src/shared/components/common/data-importer.tsx
  src/shared/components/layout/sidebar/socials-section.tsx
  src/shared/lib/parsers/index.ts
  src/shared/types/teaching.ts
  tests/e2e/fixtures/routes.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: sync v1.5.2 release cockpit
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PACKAGING.md
  .cockpit/PMD.md
  .cockpit/RELEASES.md
  .cockpit/ROADMAP.md
  .cockpit/STRUCTURE.md
  .cockpit/adr/SPIKE-pdf-lib.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  README.md
  TESTING.md
Due: prettier --write

docs: mark v1.5.2 released
  .cockpit/RELEASES.md
Due: prettier --write

chore: release v1.5.3 final forensic closeout
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PACKAGING.md
  .cockpit/PMD.md
  .cockpit/RELEASES.md
  .cockpit/ROADMAP.md
  .github/SECURITY.md
  .github/workflows/ci.yml
  .github/workflows/cross-browser-e2e.yml
  .github/workflows/lhci.yml
  .github/workflows/nextjs.yml
  .github/workflows/security.yml
  TESTING.md
  package-lock.json
  package.json
  src/features/apps/components/study-timer/study-timer.tsx
  src/features/teaching/components/contest-countdown.tsx
  src/features/teaching/components/notice-board.tsx
  src/features/teaching/components/syllabus-table.tsx
  tests/e2e/fixtures/routes.ts
  tests/features/apps/study-timer.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: add de-bloat + agentic-env design spec
  docs/superpowers/specs/2026-06-04-portfolio-purge-and-agentic-env-design.md
Due: prettier --write

docs: add de-bloat + agentic-env implementation plan
  docs/superpowers/plans/2026-06-04-portfolio-debloat-and-agentic-env.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=0: ((any of: src/**/*.{ts,tsx}) or (any of: tests/**/*.{ts,tsx})) or (any of: *.{js,mjs,cjs,jsx})
  prettier --write: (((((any of: src/**/*.{ts,tsx}) or (any of: tests/**/*.{ts,tsx})) or (any of: *.{js,mjs,cjs,jsx})) or (any of: *.{json,md,mdx})) or (any of: *.{css,scss})) or (any of: *.{yaml,yml})
  tsc-files --noEmit: any of: src/**/*.{ts,tsx}
