Repository mdasifbinkhaled/mdasifbinkhaled.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write",
    "tsc-files --noEmit"
  ],
  "tests/**/*.{ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{js,mjs,cjs,jsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{json,md,mdx}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "*.{yaml,yml}": ["prettier --write"]
}

fix(audit): deep-dive audit fixes - security, accessibility, SEO, docs
  .cockpit/PMD.md
  README.md
  package-lock.json
  package.json
  src/app/about/page.tsx
  src/app/teaching/page.tsx
  src/features/teaching/teaching-search.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore(cleanup): remove unused files and dead code
  src/features/about/components/biography-section.tsx
  src/features/about/components/education-section.tsx
  src/features/about/components/experience-section.tsx
  src/features/about/components/index.ts
  src/features/teaching/teaching-timeline.tsx
  src/shared/lib/data/teaching-timeline.ts
  src/shared/types/teaching.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(teaching): sync navigation with data, cleanup dead code
  src/features/teaching/course-card.tsx
  src/features/teaching/teaching-search.tsx
  src/shared/config/navigation.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(teaching): streamline design and reduce clutter
  src/app/teaching/bracu/page.tsx
  src/app/teaching/iub/page.tsx
  src/app/teaching/teaching-tabs.client.tsx
  src/features/teaching/course-card.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(teaching): correct testimonial course codes and finalize cleanup
  src/shared/lib/data/testimonials.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(teaching): visual modernization and tabs bug fix
  src/app/teaching/bracu/page.tsx
  src/app/teaching/iub/page.tsx
  src/app/teaching/page.tsx
  src/app/teaching/teaching-tabs.client.tsx
  src/features/teaching/course-card-compact.tsx
  src/features/teaching/teaching-hero-stats.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

style: unify shape system to rounded-xl
  src/app/teaching/page.tsx
  src/shared/components/ui/card.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: add missing export and standardize icon containers
  src/features/teaching/index.ts
  src/shared/components/common/stat-card.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: update PMD to v4.4.1 with shape system changes
  .cockpit/PMD.md
Due: prettier --write

chore: update next.js to 15.5
  package-lock.json
Due: prettier --write

chore: cleanup and finalization v4.5.0
  .cockpit/PMD.md
  README.md
  src/shared/components/common/index.ts
  src/shared/components/layout/index.ts
  src/shared/components/navigation/index.ts
  src/shared/components/ui/index.ts
  src/shared/config/constants.ts
  src/shared/lib/data/index.ts
  src/shared/lib/validation/schemas.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: standarize next.js version to 15.5.4
  package-lock.json
  package.json
Due: prettier --write

docs: modernize README and PMD with SOTA formatting
  .cockpit/PMD.md
  README.md
Due: prettier --write

fix: correct UI component count in PMD (18→17)
  .cockpit/PMD.md
Due: prettier --write

docs: sync PMD v4.7.0 - fix Tailwind version, update date
  .cockpit/PMD.md
Due: prettier --write

refactor: move academic-profiles to common/ for consistency
  src/app/contact/page.tsx
  src/app/publications/page.tsx
  src/app/research/page.tsx
  src/features/about/components/research-philosophy.tsx
  src/shared/components/common/academic-profiles.tsx
  src/shared/components/common/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: update PMD common count (13→14) after academic-profiles move
  .cockpit/PMD.md
Due: prettier --write

refactor(teaching): data-driven architecture for future-proofing
  src/app/teaching/teaching-tabs.client.tsx
  src/features/teaching/course-card-compact.tsx
  src/features/teaching/course-card.tsx
  src/features/teaching/index.ts
  src/features/teaching/styles.ts
  src/shared/components/common/icons.tsx
  src/shared/lib/data/activities.ts
  src/shared/lib/data/courses.ts
  src/shared/lib/data/index.ts
  src/shared/lib/data/teaching-stats.ts
  src/shared/lib/data/testimonials.ts
  src/shared/lib/validation/schemas.ts
  src/shared/types/teaching.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs(pmd): v4.8.0 - add activities.ts and testimonials.ts to data sources
  .cockpit/PMD.md
Due: prettier --write

feat(teaching): world-class course page redesign
  src/app/teaching/[institution]/[courseCode]/page.tsx
  src/features/teaching/course-page-layout.tsx
  src/features/teaching/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(teaching): add ux improvements for course pages
  src/app/teaching/[institution]/[courseCode]/page.tsx
  src/features/teaching/course-page-layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(teaching): remove course navigation per university best practices
  src/app/teaching/[institution]/[courseCode]/page.tsx
  src/features/teaching/course-page-layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(home): elevate homepage to world-class standard
  src/features/home/components/connect-section.tsx
  src/features/home/components/hero-section.tsx
  src/features/home/components/research-highlights.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(about): apply minor touch-ups for consistency
  src/features/about/components/hero-section.tsx
  src/features/about/components/skills-section.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(teaching): resolve design audit issues
  src/app/globals.css
  src/features/teaching/course-card.tsx
  src/features/teaching/course-page-layout.tsx
  src/shared/components/navigation/breadcrumbs.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(teaching): declutter teaching pages
  src/app/teaching/page.tsx
  src/app/teaching/teaching-tabs.client.tsx
  src/features/teaching/course-card.tsx
  src/features/teaching/course-page-layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

Revert "refactor(teaching): declutter teaching pages"
  src/app/teaching/page.tsx
  src/app/teaching/teaching-tabs.client.tsx
  src/features/teaching/course-card.tsx
  src/features/teaching/course-page-layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(teaching): implement consistent interface design
  src/app/teaching/page.tsx
  src/features/teaching/course-card.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(teaching): implement 'Balanced Card' design strategy
  src/features/teaching/course-card.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

revert: restore original teaching design with tabs and expandable cards
  src/app/teaching/page.tsx
  src/features/teaching/course-card.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(teaching): apply selected design improvements
  src/app/teaching/page.tsx
  src/features/teaching/course-card.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: forensic audit cleanup
  src/features/teaching/course-card.tsx
  src/features/teaching/index.ts
  src/features/teaching/student-testimonials.tsx
  src/shared/components/ui/theme-selector.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/use-mobile.ts
  src/shared/hooks/use-motion.ts
  src/shared/lib/data/index.ts
  src/shared/lib/data/testimonials.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(teaching): implement tier-based data architecture
  src/features/teaching/course-card.tsx
  src/shared/lib/data/courses.ts
  src/shared/lib/data/courses/_index.json
  src/shared/lib/validation/schemas.ts
  src/shared/types/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: clean up course data structure
  src/shared/lib/data/courses.ts
  src/shared/lib/data/courses/bracu/android-lab.json
  src/shared/lib/data/courses/bracu/cd-lab.json
  src/shared/lib/data/courses/bracu/cg-lab.json
  src/shared/lib/data/courses/bracu/nm-lab.json
  src/shared/lib/data/courses/index.json
  src/shared/lib/data/courses/iub/cse101.json
  src/shared/lib/data/courses/iub/cse201-discrete-math.json
  src/shared/lib/data/courses/iub/cse203.json
  src/shared/lib/data/courses/iub/cse211.json
  src/shared/lib/data/courses/iub/cse317.json
  src/shared/lib/data/courses/iub/finite-automata.json
  src/shared/lib/data/courses/iub/fundamentals-cs.json
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: resolve data validation error and update PMD.md
  .cockpit/PMD.md
  src/shared/lib/data/courses/index.json
Due: prettier --write

chore: comprehensive cleanup and consistency fixes
  src/features/teaching/course-card-compact.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat: performance and seo optimization
  src/app/layout.tsx
  src/app/teaching/[institution]/[courseCode]/page.tsx
  src/shared/components/common/structured-data.tsx
  src/shared/lib/seo/json-ld.ts
  src/shared/lib/structured-data.ts
  tailwind.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: update PMD with seo architecture and teaching tier system (v4.9.0)
  .cockpit/PMD.md
Due: prettier --write

chore: resolve forensic audit issues
  tests/shared/lib/data.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: regenerate lockfile from clean install
  package-lock.json
Due: prettier --write
