Repository mdasifbinkhaled/mdasifbinkhaled.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write",
    "tsc-files --noEmit"
  ],
  "tests/**/*.{ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{js,mjs,cjs,jsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{json,md,mdx}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "*.{yaml,yml}": ["prettier --write"]
}

feat(branding): add MABK favicon and fix webmanifest
  public/favicon-48.png
  public/site.webmanifest
Due: none

docs: enhance README with detailed installation guide
  README.md
Due: prettier --write

chore: full clean rebuild, audit, and validation pass
  package-lock.json
Due: prettier --write

feat(cse211): add world-class algorithm resources
  src/shared/lib/data/courses/iub-cse211/resources.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

style(cse211): optimize spacing and alignment in resources section
  src/features/teaching/components/resources-section.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs(cockpit): cross-check and sync all metrics with codebase
  .cockpit/GOVERNANCE.md
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PACKAGING.md
  .cockpit/PMD.md
  .cockpit/PUBLICATION.md
  .cockpit/RELEASES.md
  .cockpit/STRUCTURE.md
  .cockpit/adr/TEMPLATE.md
Due: prettier --write

fix(deploy): restore missing client components and finalize cleanup
  public/images/icon-192.png
  public/images/icon-512.png
  public/images/icon.svg
  public/images/og-image.png
  public/images/og-image.svg
  src/app/cv/cv-content.client.tsx
  src/shared/hooks/use-is-client.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore(audit): verify and finalize 11 architectural fixes
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PMD.md
  .cockpit/STRUCTURE.md
  src/features/teaching/components/schedule-section.tsx
  src/features/teaching/components/schedule-table.tsx
  src/shared/components/common/structured-data.tsx
  src/shared/components/layout/profile-sidebar.tsx
  src/shared/components/ui/command-menu.tsx
  src/shared/config/assets.ts
  src/shared/config/site.ts
  src/shared/config/themes.ts
  src/shared/lib/analytics.ts
  src/shared/lib/nav-icon-map.ts
  src/styles/tokens.css
  tailwind.config.ts
  tests/basic.test.ts
  vitest.config.mts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore(phase-5): complete quality gates, accessibility standards, and perform unused code cleanup
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PMD.md
  .cockpit/ROADMAP.md
  next.config.ts
  package-lock.json
  package.json
  src/app/about/page.tsx
  src/app/contact/page.tsx
  src/app/cv/cv-content.client.tsx
  src/app/cv/page.tsx
  src/app/layout.tsx
  src/app/publications/layout.tsx
  src/app/publications/page.tsx
  src/app/research/page.tsx
  src/app/teaching/bracu/page.tsx
  src/app/teaching/iub/page.tsx
  src/app/teaching/page.tsx
  src/features/teaching/components/contest-countdown.tsx
  src/features/teaching/components/course-hero.tsx
  src/features/teaching/components/institution-courses-page.tsx
  src/shared/components/common/error-fallback.tsx
  src/shared/components/common/motion-page.tsx
  src/shared/components/common/publication-card.tsx
  src/shared/components/common/route-announcer.tsx
  src/shared/components/common/web-vitals-reporter.tsx
  src/shared/components/ui/theme-selector.tsx
  src/shared/lib/course-utils.ts
  src/shared/lib/structured-data.ts
  src/shared/lib/validation/about-schema.ts
  src/shared/lib/validation/education-schema.ts
  tests/structured-data.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore(cockpit): final deep audit, garbage collection & zero-warning SOTA verification
  tests/components.test.tsx
  tests/sheet.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor(apps): remediate P0 routing fracture and migrate tools to apps with strict sota compliance
  src/app/apps/error.tsx
  src/app/apps/grade-calculator/page.tsx
  src/app/apps/page.tsx
  src/app/sitemap.ts
  src/features/apps/components/grade-calculator.tsx
  src/features/apps/components/index.ts
  src/features/apps/components/tool-card.tsx
  src/features/apps/components/tools-hero.tsx
  src/shared/components/common/icons.tsx
  src/shared/config/navigation.ts
  src/shared/lib/nav-icon-map.ts
  src/shared/types/tools.ts
  tests/grade-calculator.test.tsx
  tests/navbar.active.test.tsx
  tests/navbar.test.tsx
  tests/setup.ts
  tests/sidebar.a11y.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(audit): forensic audit fixes + cockpit sync
  .cockpit/GOVERNANCE.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PMD.md
  .cockpit/ROADMAP.md
  .cockpit/STRUCTURE.md
  .gitignore
  next.config.ts
  package.json
  playwright-report/index.html
  playwright.config.ts
  public/sw.js
  src/app/apps/error.tsx
  src/app/layout.tsx
  src/shared/components/common/error-boundary.tsx
  src/shared/components/layout/sidebar/navigation-section.tsx
  src/shared/components/layout/sidebar/profile-section.tsx
  test-results/.last-run.json
  tests/e2e/smoke.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: remove AI traces, dead code, and sync cockpit docs
  .cockpit/COCKPIT-BOOTSTRAP-PROMPT.md
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PACKAGING.md
  .cockpit/PMD.md
  .cockpit/PUBLICATION.md
  .cockpit/ROADMAP.md
  .cockpit/STRUCTURE.md
  src/app/globals.css
  src/features/home/components/connect-section.tsx
  src/features/home/components/hero-section.tsx
  src/features/home/components/research-highlights.tsx
  src/shared/components/common/stat-card.tsx
  src/shared/config/constants.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs(cockpit): sync all docs with actual project state
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PMD.md
  .cockpit/RELEASES.md
  .cockpit/ROADMAP.md
  .cockpit/STRUCTURE.md
  .cockpit/adr/ADR-005-student-tools.md
  .cockpit/adr/TEMPLATE.md
Due: prettier --write

refactor: fix code smells, anti-patterns, and technical debt
  src/app/teaching/teaching-tabs.client.tsx
  src/features/apps/components/grade-calculator.tsx
  src/features/teaching/components/contest-countdown.tsx
  src/shared/components/ui/theme-selector.tsx
  src/shared/hooks/use-toast.ts
  src/shared/types/index.ts
  src/shared/types/teaching.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor: forensic audit, stabilization and full project cleanup
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PACKAGING.md
  .cockpit/PMD.md
  .cockpit/RELEASES.md
  .cockpit/ROADMAP.md
  .cockpit/SKILL.md
  .cockpit/STRUCTURE.md
  .gitignore
  .lintstagedrc.json
  next.config.ts
  package-lock.json
  package.json
  public/humans.txt
  public/sw.js
  src/app/apps/grade-calculator/error.tsx
  src/features/about/components/index.ts
  src/features/apps/components/grade-calculator.tsx
  src/features/teaching/components/assignments-section.tsx
  src/features/teaching/components/overview-section.tsx
  src/features/teaching/components/resources-section.tsx
  src/features/teaching/components/schedule-section.tsx
  src/features/teaching/components/syllabus-section.tsx
  src/features/teaching/course-page-layout.tsx
  src/shared/components/common/experience-compact.tsx
  src/shared/components/common/icons.tsx
  src/shared/components/common/publication-card.tsx
  src/shared/components/common/publication-list.tsx
  src/shared/components/common/skip-link.tsx
  src/shared/components/common/time-display.tsx
  src/shared/components/navigation/navbar.tsx
  src/shared/components/ui/collapsible-section.tsx
  src/shared/components/ui/spotlight-card.tsx
  src/shared/components/ui/table.tsx
  src/shared/components/ui/theme-selector.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/use-hover-delay.ts
  tests/components.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore(cockpit): sync docs and track AI trace findings
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PMD.md
  .cockpit/STRUCTURE.md
  .cockpit/adr/ADR-005-student-tools.md
Due: prettier --write

chore: remove AI traces from source code and update cockpit
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  src/app/teaching/page.tsx
  src/shared/lib/data/about.ts
  src/shared/lib/data/personal.ts
  src/shared/lib/data/research-interests.ts
  src/shared/lib/data/research.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor: remove dead code, dead CSS, reduce redundancy (F-174 to F-181)
  .cockpit/ISSUES.md
  src/app/globals.css
  src/app/teaching/page.tsx
  src/features/home/components/connect-section.tsx
  src/features/home/components/hero-section.tsx
  src/features/teaching/teaching-hero-stats.tsx
  src/shared/components/common/stat-card.tsx
  src/shared/lib/data/metrics.ts
  src/shared/lib/data/teaching-pillars.ts
  src/shared/lib/data/teaching-stats.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: organize root — move/consolidate 9 config files (F-182 to F-187)
  .cockpit/ISSUES.md
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .github/lighthouserc.js
  .github/workflows/lhci.yml
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  package.json
  tests/tsconfig.json
  tests/vitest.d.ts
  vitest.config.mts
Due: eslint --fix --max-warnings=0, prettier --write

refactor(phase-1): data layer & type foundation (F-188–F-194)
  src/app/cv/cv-content.client.tsx
  src/app/cv/page.tsx
  src/app/research/page.tsx
  src/app/teaching/page.tsx
  src/features/about/components/research-philosophy.tsx
  src/features/apps/components/grade-calculator.tsx
  src/features/home/components/hero-section.tsx
  src/features/research/components/current-focus.tsx
  src/features/research/components/featured-projects.tsx
  src/features/research/components/looking-ahead.tsx
  src/features/research/components/open-source.tsx
  src/features/research/components/primary-areas.tsx
  src/features/research/components/research-cta.tsx
  src/features/research/components/research-hero.tsx
  src/features/research/components/research-vision.tsx
  src/shared/components/common/academic-profiles.tsx
  src/shared/components/common/icons.tsx
  src/shared/components/common/news-feed.tsx
  src/shared/components/navigation/navbar.tsx
  src/shared/config/index.ts
  src/shared/lib/data/courses.ts
  src/shared/lib/data/courses/index.ts
  src/shared/lib/data/grading.ts
  src/shared/lib/data/news.ts
  src/shared/lib/data/researcher-profile.ts
  src/shared/lib/data/teaching-pillars.ts
  src/shared/lib/nav-icon-map.ts
  src/shared/lib/structured-data.ts
  src/shared/types/index.ts
  src/shared/types/tools.ts
  tests/navbar.active.test.tsx
  tests/navbar.test.tsx
  tests/sidebar.a11y.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(phase-2): feature module structure (F-195–F-199)
  src/app/teaching/page.tsx
  src/features/academic/index.ts
  src/features/research/index.ts
  src/features/teaching/components/teaching-tabs.client.tsx
  src/features/teaching/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(phase-3): navigation & layout consistency (F-200–F-204)
  src/shared/components/layout/app-sidebar-layout.tsx
  src/shared/components/navigation/breadcrumbs.tsx
  src/shared/config/constants.ts
  src/shared/config/site.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor: phase 4 seo, metadata and dead code cleanup (F-205-F-208)
  src/app/about/page.tsx
  src/app/apps/grade-calculator/page.tsx
  src/app/apps/page.tsx
  src/app/page.tsx
  src/app/research/page.tsx
  src/shared/components/common/structured-data.tsx
  src/shared/components/ui/command-menu.tsx
  src/shared/lib/structured-data.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor: phase 5 dead code removal and polish (F-209-F-213)
  package-lock.json
  package.json
  src/app/cv/error.tsx
  src/app/experience/error.tsx
  src/app/service-awards/error.tsx
  src/app/service/error.tsx
  src/app/teaching/bracu/error.tsx
  src/app/teaching/iub/error.tsx
  src/shared/components/ui/toast.tsx
  src/shared/components/ui/toaster.tsx
  src/shared/config/constants.ts
  src/shared/hooks/index.ts
  src/shared/hooks/use-toast.ts
  tailwind.config.ts
  tests/use-toast.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: sync cockpit with architecture refactoring (F-188–F-217)
  .cockpit/HISTORY.md
  .cockpit/ISSUES.md
  .cockpit/PACKAGING.md
  .cockpit/PMD.md
  src/shared/types/index.ts
  src/styles/tokens.css
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor: production polish — Link components, type safety, smoke tests
  src/app/cv/cv-content.client.tsx
  src/features/about/components/skills-section.tsx
  src/features/academic/components/search-result-card.tsx
  src/shared/lib/course-utils.ts
  src/shared/lib/data/experience.ts
  src/shared/types/index.ts
  tests/features/pages-smoke.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: cockpit sync — production polish (F-218–F-221, 153 tests)
  .cockpit/HISTORY.md
  .cockpit/ISSUES.md
  .cockpit/PMD.md
Due: prettier --write

docs: fix stale test count in ISSUES.md quality gates (153/153)
  .cockpit/ISSUES.md
Due: prettier --write

chore: final cleanup, formatting, and build verification
  tailwind.config.ts
Due: none

chore: remove stale AI-generated comments
  src/shared/lib/data/courses/bracu-cse420/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: command menu broken links & enhanced search UX
  src/shared/components/navigation/navbar.tsx
  src/shared/components/ui/command-menu.tsx
  src/shared/config/navigation.ts
  tests/navbar.active.test.tsx
  tests/navbar.test.tsx
  tests/sidebar.a11y.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: search results not clickable due to pointer-events: none
  src/shared/components/ui/command-menu.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor: derive nav items from course data & fix a11y/cleanup
  src/shared/components/ui/command-menu.tsx
  src/shared/config/navigation.ts
  tests/navbar.active.test.tsx
  tests/navbar.test.tsx
  tests/setup.ts
  tests/sidebar.a11y.test.tsx
  tests/sidebar.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: cleanup, deduplicate, and sync codebase
  .gitignore
  src/shared/components/common/icons.tsx
  src/shared/lib/nav-icon-map.ts
  tests/back-to-top.test.tsx
  tests/navbar.active.test.tsx
  tests/navbar.test.tsx
  tests/select.test.tsx
  tests/sidebar.a11y.test.tsx
  tests/sidebar.test.tsx
  tests/tabs.test.tsx
  tests/theme-selector.test.tsx
  tests/tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor: reorganize tests, consolidate icons, add barrel exports
  src/app/about/page.tsx
  src/app/apps/grade-calculator/page.tsx
  src/app/apps/page.tsx
  src/app/experience/error.tsx
  src/app/page.tsx
  src/app/service-awards/error.tsx
  src/app/service/error.tsx
  src/features/about/index.ts
  src/features/apps/index.ts
  src/features/home/index.ts
  src/shared/components/common/icons.tsx
  src/shared/lib/nav-icon-map.ts
  tests/features/apps/grade-calculator.test.tsx
  tests/shared/components/common/back-to-top.test.tsx
  tests/shared/components/common/components.test.tsx
  tests/shared/components/common/skip-link.test.tsx
  tests/shared/components/layout/sidebar.a11y.test.tsx
  tests/shared/components/layout/sidebar.test.tsx
  tests/shared/components/navigation/navbar.active.test.tsx
  tests/shared/components/navigation/navbar.test.tsx
  tests/shared/components/ui/select.test.tsx
  tests/shared/components/ui/sheet.test.tsx
  tests/shared/components/ui/tabs.test.tsx
  tests/shared/components/ui/theme-selector.test.tsx
  tests/shared/config/basic.test.ts
  tests/shared/hooks/use-debounce.test.ts
  tests/shared/lib/analytics.test.tsx
  tests/shared/lib/data-integrity.test.ts
  tests/shared/lib/structured-data.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit
