Repository mdasifbinkhaled/mdasifbinkhaled.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write",
    "tsc-files --noEmit"
  ],
  "tests/**/*.{ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{js,mjs,cjs,jsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{json,md,mdx}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "*.{yaml,yml}": ["prettier --write"]
}

docs: sync all cockpit documentation with codebase reality
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PACKAGING.md
  .cockpit/PMD.md
  .cockpit/RELEASES.md
  .cockpit/ROADMAP.md
  .cockpit/STRUCTURE.md
Due: prettier --write

chore: final cleanup — remove dead code, fix icons, consolidate cockpit
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PACKAGING.md
  .cockpit/PMD.md
  .cockpit/PUBLICATION.md
  .cockpit/RELEASES.md
  .cockpit/ROADMAP.md
  .cockpit/SKILL.md
  .cockpit/STRUCTURE.md
  package.json
  public/apple-touch-icon.png
  public/favicon-16x16.png
  src/features/academic/academic-search.tsx
  src/features/academic/components/filter-bar.tsx
  src/features/academic/components/search-input.tsx
  src/features/academic/components/search-result-card.tsx
  src/features/academic/components/search-results.tsx
  src/features/academic/hooks/use-search-filter.ts
  src/features/academic/index.ts
  src/features/academic/types.ts
  src/features/academic/utils/get-type-icon.ts
  tests/features/academic/get-type-icon.test.ts
  tests/shared/components/common/components.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(apps): add Seat Planner tool & rename section to Apps
  package-lock.json
  package.json
  src/app/apps/grade-calculator/page.tsx
  src/app/apps/page.tsx
  src/app/apps/seat-planner/error.tsx
  src/app/apps/seat-planner/page.tsx
  src/features/apps/components/index.ts
  src/features/apps/components/seat-planner/allocation.ts
  src/features/apps/components/seat-planner/csv-export.ts
  src/features/apps/components/seat-planner/csv-parser.ts
  src/features/apps/components/seat-planner/index.ts
  src/features/apps/components/seat-planner/pdf-export.ts
  src/features/apps/components/seat-planner/seat-planner.tsx
  src/features/apps/components/seat-planner/types.ts
  src/features/apps/components/tools-hero.tsx
  src/features/apps/index.ts
  src/shared/config/navigation.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(apps): decompose seat-planner god component & fix critical bugs
  src/app/apps/seat-planner/page.tsx
  src/features/apps/components/grade-calculator.tsx
  src/features/apps/components/seat-planner/allocation.ts
  src/features/apps/components/seat-planner/csv-export.ts
  src/features/apps/components/seat-planner/csv-parser.ts
  src/features/apps/components/seat-planner/exam-details-form.tsx
  src/features/apps/components/seat-planner/pdf-export.ts
  src/features/apps/components/seat-planner/room-configuration.tsx
  src/features/apps/components/seat-planner/seat-plan-results.tsx
  src/features/apps/components/seat-planner/seat-planner.tsx
  src/features/apps/components/seat-planner/shared-ui.tsx
  src/features/apps/components/seat-planner/student-data-panel.tsx
  src/features/apps/components/seat-planner/use-seat-planner.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat: implementation of Phase 8 Modern Web optimizations and SEO enhancements
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/PMD.md
  .cockpit/ROADMAP.md
  .cockpit/STRUCTURE.md
  README.md
  next.config.ts
  package-lock.json
  package.json
  src/app/apps/page.tsx
  src/app/publications/page.tsx
  src/app/teaching/[institution]/[courseCode]/page.tsx
  src/features/home/components/news-section.tsx
  src/features/teaching/course-card.tsx
  src/shared/components/common/news-feed.tsx
  src/shared/components/common/publication-card.tsx
  tailwind.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat: workbox SW, deploy gating, behavioral tests, sitemap fix
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/ROADMAP.md
  .cockpit/STRUCTURE.md
  .github/workflows/nextjs.yml
  eslint.config.mjs
  package-lock.json
  package.json
  public/sw.js
  src/app/sitemap.ts
  tests/features/apps/exam-countdown.test.tsx
  tests/features/apps/gpa-calculator.test.tsx
  tests/features/apps/grade-calculator.test.tsx
  tests/features/apps/office-hours.test.tsx
  workbox-config.cjs
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: comprehensive cleanup — barrel violations, dead code, stale CSS, import consistency
  next.config.ts
  package-lock.json
  package.json
  src/app/apps/exam-countdown/page.tsx
  src/app/apps/gpa-calculator/page.tsx
  src/app/apps/office-hours/page.tsx
  src/app/apps/seat-planner/page.tsx
  src/app/blog/[slug]/page.tsx
  src/app/cv/cv-content.client.tsx
  src/app/teaching/bracu/page.tsx
  src/app/teaching/iub/page.tsx
  src/app/teaching/page.tsx
  src/features/apps/components/index.ts
  src/features/apps/components/tools-hero.tsx
  src/features/apps/index.ts
  src/features/research/components/research-timeline.tsx
  src/features/teaching/components/contest-countdown.tsx
  src/features/teaching/components/course-hero.tsx
  src/features/teaching/components/course-page-layout.tsx
  src/features/teaching/components/index.ts
  src/features/teaching/components/schedule-section.tsx
  src/features/teaching/components/syllabus-section.tsx
  src/features/teaching/index.ts
  src/shared/components/common/academic-profiles.tsx
  src/shared/components/common/time-display.tsx
  src/shared/components/ui/theme-selector.tsx
  src/shared/config/constants.ts
  src/styles/tokens.css
  tests/shared/components/common/news-feed.test.tsx
  tsconfig.json
  vitest.config.mts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

test: phase 1 — expand unit test coverage to 357 tests (65% lines)
  tests/features/home/home-components.test.tsx
  tests/features/publications/publication-list.test.tsx
  tests/features/research/research-components.test.tsx
  tests/features/teaching/teaching-components.test.tsx
  tests/shared/components/infra/infra-components.test.tsx
  tests/shared/components/ui/primitives.test.tsx
  vitest.config.mts
Due: eslint --fix --max-warnings=0, prettier --write

test: phase 2 — E2E cross-browser tests + WCAG AA a11y fixes
  playwright.config.ts
  src/app/teaching/page.tsx
  src/features/about/components/research-philosophy.tsx
  src/features/research/components/research-hero.tsx
  src/features/teaching/components/styles.ts
  src/shared/components/navigation/breadcrumbs.tsx
  src/styles/tokens.css
  tests/e2e/a11y-audit.spec.ts
  tests/e2e/all-pages-smoke.spec.ts
  tests/e2e/keyboard-nav.spec.ts
  tests/e2e/smoke.spec.ts
  tests/e2e/theme-contrast.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

perf: phase 3 — Lighthouse performance & a11y fixes
  .github/lighthouserc.js
  .gitignore
  src/app/about/page.tsx
  src/app/contact/page.tsx
  src/app/research/page.tsx
  src/shared/components/common/pdf-viewer.tsx
  src/shared/components/navigation/navbar.tsx
  src/shared/providers/app-providers.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: tighten CSP and add security meta tags
  src/app/layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: phase 5 — update README stats and add TESTING.md
  README.md
  TESTING.md
Due: prettier --write

fix: quality audit — remove redundant tests, tighten CSP, fix docs accuracy
  .github/CONTRIBUTING.md
  .github/lighthouserc.js
  README.md
  TESTING.md
  src/app/layout.tsx
  src/app/teaching/page.tsx
  tests/e2e/a11y-audit.spec.ts
  tests/e2e/all-pages-smoke.spec.ts
  tests/e2e/keyboard-nav.spec.ts
  tests/e2e/smoke.spec.ts
  tests/e2e/theme-contrast.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: restore deploy pipeline and harden navigation semantics
  .github/workflows/ci.yml
  .github/workflows/nextjs.yml
  src/app/sitemap.ts
  src/features/about/components/hero-section.tsx
  src/shared/components/common/pdf-viewer.tsx
  src/shared/components/layout/app-sidebar-layout.tsx
  src/shared/components/navigation/breadcrumbs.tsx
  src/shared/components/navigation/navbar.tsx
  src/shared/hooks/use-hover-delay.ts
  tests/features/about/about-components.test.tsx
  tests/shared/components/navigation/navbar.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: make Pages export verification less brittle
  .github/workflows/nextjs.yml
Due: prettier --write

fix: remove brittle Pages verification step
  .github/workflows/nextjs.yml
Due: prettier --write

fix: align exported routes with GitHub Pages
  next.config.ts
  src/app/not-found.tsx
  src/shared/components/common/trailing-slash-redirect.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: external audit remediation (AUD-001–AUD-016)
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PACKAGING.md
  .cockpit/PMD.md
  .cockpit/RELEASES.md
  .cockpit/ROADMAP.md
  .cockpit/STRUCTURE.md
  .github/workflows/security.yml
  package.json
  public/humans.txt
  src/app/experience/page.tsx
  src/app/service-awards/page.tsx
  src/app/service/page.tsx
  src/app/teaching/page.tsx
  src/features/apps/components/seat-planner/csv-parser.ts
  src/features/teaching/components/mentorship-section.tsx
  src/shared/components/infra/hash-scroll.tsx
  src/shared/components/layout/app-sidebar-layout.tsx
  src/shared/components/ui/command-menu.tsx
  tests/features/apps/seat-planner.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: forensic autopsy remediation (F-250–F-259)
  .cockpit/GOVERNANCE.md
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PMD.md
  .github/lighthouserc.js
  src/app/global-error.tsx
  src/app/layout.tsx
  src/features/apps/components/seat-planner/jspdf-autotable.d.ts
  src/features/apps/components/seat-planner/pdf-export.ts
  src/shared/components/common/back-to-top.tsx
  src/shared/lib/data/mentorship.ts
  tests/features/cv-content.test.tsx
  vitest.config.mts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: ground-up audit — a11y remediation, SW registration, E2E expansion
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PACKAGING.md
  .cockpit/PMD.md
  .cockpit/RELEASES.md
  .cockpit/ROADMAP.md
  .cockpit/STRUCTURE.md
  package-lock.json
  package.json
  public/humans.txt
  src/app/blog/[slug]/page.tsx
  src/app/experience/error.tsx
  src/app/layout.tsx
  src/app/service-awards/error.tsx
  src/app/service/error.tsx
  src/features/apps/components/exam-countdown/exam-countdown.tsx
  src/features/apps/components/gpa-calculator/gpa-calculator.tsx
  src/features/apps/components/office-hours/office-hours-booker.tsx
  src/features/apps/components/seat-planner/room-configuration.tsx
  src/features/teaching/components/course-card-compact.tsx
  src/shared/components/common/stat-card.tsx
  src/shared/components/infra/sw-register.tsx
  src/shared/config/site.ts
  tests/e2e/a11y-audit.spec.ts
  tests/e2e/all-pages-smoke.spec.ts
  tests/e2e/fixtures/routes.ts
  tests/e2e/theme-contrast.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: clean up tsbuildinfo clutter and improve CI/CD
  .github/workflows/ci.yml
  .github/workflows/lhci.yml
  .github/workflows/security.yml
  .gitignore
  package.json
  tsconfig.json
Due: prettier --write

refactor(nav): trim primary nav to 6 items, update metrics
  src/shared/components/layout/app-sidebar-layout.tsx
  src/shared/components/navigation/breadcrumbs.tsx
  src/shared/config/navigation.ts
  src/shared/lib/data/metrics.ts
  src/shared/lib/data/researcher-profile.ts
  tests/shared/config/basic.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(ci): add --root-dir to lychee link checker for root-relative paths
  .github/workflows/ci.yml
Due: prettier --write

chore(ci): upgrade GitHub Actions to Node 24 runtime, bump CI Node.js to 22 LTS
  .github/workflows/ci.yml
  .github/workflows/lhci.yml
  .github/workflows/nextjs.yml
  .github/workflows/security.yml
Due: prettier --write

chore: upgrade to Node.js 22 LTS, drop Node 20 support
  .node-version
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

feat(apps): add Study Timer and Course Planner tools
  src/app/apps/course-planner/error.tsx
  src/app/apps/course-planner/page.tsx
  src/app/apps/page.tsx
  src/app/apps/study-timer/error.tsx
  src/app/apps/study-timer/page.tsx
  src/features/apps/components/course-planner/course-planner.tsx
  src/features/apps/components/course-planner/presets.ts
  src/features/apps/components/course-planner/topo-sort.ts
  src/features/apps/components/course-planner/types.ts
  src/features/apps/components/index.ts
  src/features/apps/components/study-timer/study-timer.tsx
  src/features/apps/index.ts
  src/shared/components/common/icons.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat: add persistence, validation, visualization & export across all apps
  package-lock.json
  package.json
  src/features/apps/components/course-planner/course-planner.tsx
  src/features/apps/components/exam-countdown/exam-countdown.tsx
  src/features/apps/components/gpa-calculator/gpa-calculator.tsx
  src/features/apps/components/grade-calculator.tsx
  src/features/apps/components/study-timer/study-timer.tsx
  src/shared/components/ui/toaster.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/use-persisted-state.ts
  src/shared/providers/app-providers.tsx
  tests/features/apps/exam-countdown.test.tsx
  tests/features/apps/gpa-calculator.test.tsx
  tests/features/apps/grade-calculator.test.tsx
  tests/setup.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(apps): shared download util, weekly heatmap, error handling
  src/features/apps/components/course-planner/course-planner.tsx
  src/features/apps/components/exam-countdown/exam-countdown.tsx
  src/features/apps/components/seat-planner/csv-export.ts
  src/features/apps/components/seat-planner/pdf-export.ts
  src/features/apps/components/seat-planner/use-seat-planner.ts
  src/features/apps/components/study-timer/study-timer.tsx
  src/shared/lib/download-file.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: resolve forensic audit findings (AUD-001..AUD-016)
  .cockpit/HISTORY.md
  .cockpit/ROADMAP.md
  .github/SECURITY.md
  README.md
  package.json
  src/features/apps/components/course-planner/course-planner.tsx
  src/features/apps/components/exam-countdown/exam-countdown.tsx
  src/features/apps/components/seat-planner/pdf-export.ts
  src/features/apps/components/seat-planner/student-data-panel.tsx
  src/features/apps/components/seat-planner/use-seat-planner.ts
  src/features/apps/components/study-timer/study-timer.tsx
  src/shared/lib/download-file.ts
  src/shared/types/jspdf-autotable.d.ts
  tests/features/teaching/teaching-components.test.tsx
  tests/shared/components/common/components.test.tsx
  tests/shared/lib/data-integrity.test.ts
  tests/tsconfig.json
  vitest.config.mts
  workbox-config.cjs
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: cockpit hygiene resync + advisory remediation
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/ROADMAP.md
  .cockpit/adr/ADR-006-tests-tsconfig-strictness.md
  README.md
  package.json
  tests/e2e/a11y-audit.spec.ts
  tests/tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

chore: close advisory later-improvements (coverage ratchet + drop tsc-files)
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PACKAGING.md
  .cockpit/ROADMAP.md
  package-lock.json
  package.json
  vitest.config.mts
Due: prettier --write

docs: truth-sync cockpit + root MDs after audit
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/adr/ADR-005-student-tools.md
  .github/CONTRIBUTING.md
  TESTING.md
Due: prettier --write

chore(cockpit): execute AUD-016 cleanup plan and resolve F-260
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/adr/SPIKE-pdf-lib.md
  tests/e2e/a11y-audit.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(apps): dynamically extract tools config and resolve a11y violations
  src/app/apps/page.tsx
  src/features/apps/components/course-planner/course-planner.tsx
  src/features/apps/components/tool-card.tsx
  src/features/apps/components/tools-hero.tsx
  src/shared/components/common/icons.tsx
  src/shared/config/apps.ts
  src/shared/config/index.ts
  src/shared/config/navigation.ts
  src/shared/types/apps.ts
  src/shared/types/index.ts
  tests/e2e/fixtures/routes.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(apps): implement AppsHub with dynamic filtering, search, and animations
  src/app/apps/page.tsx
  src/features/apps/components/apps-hub.tsx
  src/features/apps/components/index.ts
  src/features/apps/index.ts
  src/shared/components/common/icons.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(apps): data-driven hub + shared page header + unified metadata
  src/app/apps/course-planner/page.tsx
  src/app/apps/exam-countdown/page.tsx
  src/app/apps/gpa-calculator/page.tsx
  src/app/apps/grade-calculator/page.tsx
  src/app/apps/office-hours/page.tsx
  src/app/apps/seat-planner/page.tsx
  src/app/apps/study-timer/page.tsx
  src/features/apps/components/app-page-header.tsx
  src/features/apps/components/apps-hub.tsx
  src/features/apps/components/index.ts
  src/features/apps/components/tools-hero.tsx
  src/features/apps/index.ts
  src/shared/config/apps.ts
  tests/shared/lib/analytics.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(apps): phase 12.1 + 12.2 — shared I/O primitives + seat planner refactor
  .cockpit/INDEX.md
  .cockpit/ROADMAP.md
  .cockpit/adr/ADR-007-apps-io-redesign.md
  package-lock.json
  package.json
  src/features/apps/components/exam-countdown/exam-countdown.tsx
  src/features/apps/components/seat-planner/csv-parser.ts
  src/features/apps/components/seat-planner/room-configuration.tsx
  src/features/apps/components/seat-planner/seat-planner.tsx
  src/features/apps/components/seat-planner/student-data-panel.tsx
  src/features/apps/components/seat-planner/use-seat-planner.ts
  src/shared/components/common/data-importer.tsx
  src/shared/components/common/export-bar.tsx
  src/shared/components/common/stats-panel.tsx
  src/shared/components/common/tool-settings.tsx
  src/shared/lib/ics/index.ts
  src/shared/lib/ics/write.ts
  src/shared/lib/parsers/index.ts
  src/shared/lib/parsers/papaparse-adapter.ts
  src/shared/lib/parsers/schema.ts
  src/shared/lib/parsers/tabular.ts
  src/shared/lib/parsers/types.ts
  src/shared/lib/parsers/xlsx-adapter.ts
  src/shared/lib/storage/index.ts
  src/shared/lib/storage/migrate.ts
  src/shared/lib/storage/namespaced.ts
  src/shared/lib/storage/use-tool-storage.ts
  src/shared/lib/validation/index.ts
  src/shared/lib/validation/result.ts
  tests/features/apps/seat-planner-hook.test.ts
  tests/features/apps/seat-planner.test.ts
  tests/shared/components/export-bar.test.tsx
  tests/shared/components/stats-panel.test.tsx
  tests/shared/components/tool-settings.test.tsx
  tests/shared/lib/ics.test.ts
  tests/shared/lib/parsers.test.ts
  tests/shared/lib/storage.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit
