Repository mdasifbinkhaled/mdasifbinkhaled.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write",
    "tsc-files --noEmit"
  ],
  "tests/**/*.{ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{js,mjs,cjs,jsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{json,md,mdx}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "*.{yaml,yml}": ["prettier --write"]
}

chore: add lean agentic environment (CLAUDE.md, rules, skills, llms.txt)
  .claude/rules/apps.md
  .claude/rules/content-data.md
  .claude/rules/styling.md
  .claude/skills/add-course/SKILL.md
  .claude/skills/add-publication/SKILL.md
  CLAUDE.md
  public/llms.txt
Due: prettier --write

docs: migrate cockpit knowledge to CLAUDE.md and docs/
  CLAUDE.md
  docs/adr/ADR-005-student-tools.md
  docs/adr/ADR-006-tests-tsconfig-strictness.md
  docs/adr/ADR-007-apps-io-redesign.md
  docs/adr/SPIKE-pdf-lib.md
  docs/adr/TEMPLATE.md
  docs/uptime-robot.md
Due: prettier --write

chore: remove .cockpit governance ceremony (migrated to CLAUDE.md)
  .cockpit/GOVERNANCE.md
  .cockpit/HISTORY.md
  .cockpit/INDEX.md
  .cockpit/ISSUES.md
  .cockpit/PACKAGING.md
  .cockpit/PMD.md
  .cockpit/RELEASES.md
  .cockpit/ROADMAP.md
  .cockpit/STRUCTURE.md
  tests/tsconfig.json
Due: prettier --write

chore: remove OSS-collaboration ceremony for solo repo
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Due: prettier --write

docs: repoint README from .cockpit to CLAUDE.md/docs
  README.md
Due: prettier --write

test: guard homepage publications preview against empty render
  tests/features/home/home-components.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor(apps): split study-timer into hook + utils + subcomponents
  src/features/apps/components/study-timer/activity-heatmap.tsx
  src/features/apps/components/study-timer/study-timer.tsx
  src/features/apps/components/study-timer/study-timer.utils.ts
  src/features/apps/components/study-timer/timer-settings-panel.tsx
  src/features/apps/components/study-timer/today-progress.tsx
  src/features/apps/components/study-timer/use-study-timer.ts
  tests/features/apps/study-timer-utils.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(apps): split course-planner into hook + subcomponents
  src/features/apps/components/course-planner/course-add-form.tsx
  src/features/apps/components/course-planner/course-plan-grid.tsx
  src/features/apps/components/course-planner/course-plan-stats.tsx
  src/features/apps/components/course-planner/course-planner-actions.tsx
  src/features/apps/components/course-planner/course-planner.tsx
  src/features/apps/components/course-planner/use-course-planner.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(apps): split seat-plan-results into focused component files
  src/features/apps/components/seat-planner/master-list-tab.tsx
  src/features/apps/components/seat-planner/result-actions.tsx
  src/features/apps/components/seat-planner/room-sheet.tsx
  src/features/apps/components/seat-planner/room-utilisation-panel.tsx
  src/features/apps/components/seat-planner/seat-plan-png-document.tsx
  src/features/apps/components/seat-planner/seat-plan-results-types.ts
  src/features/apps/components/seat-planner/seat-plan-results.tsx
  src/features/apps/components/seat-planner/section-overview-card.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor: split data-importer into hook + utils + panel subcomponents
  src/shared/components/common/data-importer.tsx
  src/shared/components/common/data-importer.utils.ts
  src/shared/components/common/data-importer/column-mapping-panel.tsx
  src/shared/components/common/data-importer/paste-panel.tsx
  src/shared/components/common/data-importer/preview-table.tsx
  src/shared/components/common/data-importer/upload-panel.tsx
  src/shared/components/common/use-data-importer.ts
  tests/shared/components/common/data-importer-utils.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: add Stop hook running typecheck as agent done-gate
  .claude/settings.json
Due: prettier --write

fix(deps): upgrade vitest to 4.1.8 to close critical dev-CVE
  package-lock.json
  package.json
  vitest.config.mts
Due: prettier --write

ci: fix static-export verification to count *.html pages
  .github/workflows/ci.yml
Due: prettier --write

docs: sync docs with current state + add add-blog-post skill
  .claude/skills/add-blog-post/SKILL.md
  .github/workflows/security.yml
  README.md
  TESTING.md
  public/llms.txt
Due: prettier --write

refactor(apps): split grade-calculator into hook + utils + subcomponents
  src/features/apps/components/grade-calculator.tsx
  src/features/apps/components/grade-calculator/current-standing-card.tsx
  src/features/apps/components/grade-calculator/grade-calculator.tsx
  src/features/apps/components/grade-calculator/grade-calculator.utils.ts
  src/features/apps/components/grade-calculator/grade-components-table.tsx
  src/features/apps/components/grade-calculator/index.ts
  src/features/apps/components/grade-calculator/target-projection-card.tsx
  src/features/apps/components/grade-calculator/use-grade-calculator.ts
  src/features/apps/components/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(apps): split gpa-calculator into hook + utils + subcomponents
  src/features/apps/components/gpa-calculator/cgpa-config.tsx
  src/features/apps/components/gpa-calculator/course-list.tsx
  src/features/apps/components/gpa-calculator/gpa-calculator.tsx
  src/features/apps/components/gpa-calculator/gpa-calculator.utils.ts
  src/features/apps/components/gpa-calculator/gpa-results.tsx
  src/features/apps/components/gpa-calculator/use-gpa-calculator.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(apps): split exam-countdown into hook + utils + subcomponents
  src/features/apps/components/exam-countdown/exam-countdown-toolbar.tsx
  src/features/apps/components/exam-countdown/exam-countdown.tsx
  src/features/apps/components/exam-countdown/exam-countdown.utils.ts
  src/features/apps/components/exam-countdown/exam-timer-card.tsx
  src/features/apps/components/exam-countdown/use-exam-countdown.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: add DESIGN.md visual design contract + link from CLAUDE.md
  CLAUDE.md
  DESIGN.md
Due: prettier --write

chore: remove redundant grade-calculator barrel flagged by knip
  src/features/apps/components/grade-calculator/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: add course-page redesign (v7) design spec
  docs/superpowers/specs/2026-06-05-course-page-redesign-design.md
Due: prettier --write

chore: maintenance pass — fix audit gate, prune dead overrides, dedup, sync docs
  .gitignore
  CLAUDE.md
  README.md
  docs/superpowers/plans/2026-06-04-portfolio-debloat-and-agentic-env.md
  docs/superpowers/specs/2026-06-04-portfolio-purge-and-agentic-env-design.md
  package.json
  src/app/apps/pdf-study-aid/error.tsx
  src/features/apps/components/seat-planner/jspdf-autotable.d.ts
  tmp/seat-planner-check/seat-planner-right-rail.png
  tmp/seat-planner-qa/seat-planner-empty-desktop.png
  tmp/seat-planner-qa/seat-planner-empty-redesign.png
  tmp/seat-planner-qa/seat-planner-filled-desktop.png
  tmp/seat-planner-qa/seat-planner-filled-mobile.png
  tmp/seat-planner-qa/seat-planner-filled-redesign-desktop.png
  tmp/seat-planner-qa/seat-planner-filled-redesign-mobile.png
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: harden ci/cd, prune dead exports via strict knip, de-bloat
  .github/SECURITY.md
  .github/workflows/ci.yml
  .github/workflows/cross-browser-e2e.yml
  .github/workflows/lhci.yml
  .github/workflows/security.yml
  knip.json
  package.json
  src/features/apps/components/course-planner/use-course-planner.ts
  src/features/apps/components/gpa-calculator/use-gpa-calculator.ts
  src/features/apps/components/grade-calculator/use-grade-calculator.ts
  src/features/apps/components/seat-planner/use-seat-planner.ts
  src/features/apps/components/study-timer/use-study-timer.ts
  src/shared/config/apps.ts
  src/shared/config/themes.ts
  src/shared/lib/data/courses/index.ts
  src/shared/lib/data/news.ts
  src/shared/lib/data/researcher-profile.ts
  src/shared/lib/parsers/types.ts
  src/shared/lib/validation/index.ts
  src/shared/lib/validation/result.ts
  src/shared/types/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(a11y): make course table scroll regions keyboard-focusable in Safari
  src/features/teaching/components/schedule-table.tsx
  src/features/teaching/components/syllabus-table.tsx
  src/shared/components/ui/table.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: remove dead private phdInterests data block
  src/shared/lib/data/personal.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(teaching): redesign CSE 211 as the full-width "Command Center" course page
  .gitignore
  DESIGN.md
  src/app/globals.css
  src/app/layout.tsx
  src/app/teaching/[institution]/[courseCode]/page.tsx
  src/features/teaching/components/course-page/assessment.tsx
  src/features/teaching/components/course-page/assignments.tsx
  src/features/teaching/components/course-page/bands.tsx
  src/features/teaching/components/course-page/copy-link.ts
  src/features/teaching/components/course-page/course-icons.tsx
  src/features/teaching/components/course-page/course-page.css
  src/features/teaching/components/course-page/course-page.tsx
  src/features/teaching/components/course-page/course-page.utils.ts
  src/features/teaching/components/course-page/hero.tsx
  src/features/teaching/components/course-page/index.ts
  src/features/teaching/components/course-page/notice-strip.tsx
  src/features/teaching/components/course-page/overview.tsx
  src/features/teaching/components/course-page/rail.tsx
  src/features/teaching/components/course-page/resources.tsx
  src/features/teaching/components/course-page/section-card.tsx
  src/features/teaching/components/course-page/section-nav.tsx
  src/features/teaching/components/course-page/sections-table.tsx
  src/features/teaching/components/course-page/syllabus.tsx
  src/shared/components/layout/app-sidebar-layout.tsx
  src/shared/hooks/use-scrollspy.ts
  src/shared/lib/data/courses/iub-cse211/command-center.ts
  src/shared/lib/data/courses/iub-cse211/index.ts
  src/shared/lib/data/courses/iub-cse211/schedule.ts
  src/shared/types/index.ts
  tests/features/teaching/course-page.utils.test.ts
  vitest.config.mts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs(teaching): spec the Teaching page restructure (Courses + record)
  docs/superpowers/specs/2026-06-16-teaching-page-restructure.md
Due: prettier --write

chore: forensic maturation pass — fix coupling, sync docs, harmonize deps
  .claude/rules/content-data.md
  .claude/skills/add-course/SKILL.md
  CLAUDE.md
  README.md
  docs/superpowers/specs/2026-06-05-course-page-redesign-design.md
  package-lock.json
  package.json
  public/llms.txt
  src/app/layout.tsx
  src/features/teaching/components/course-page/bands.tsx
  src/features/teaching/components/course-page/copy-link.ts
  src/features/teaching/components/course-page/course-page.css
  src/features/teaching/components/notice-board.tsx
  src/shared/components/layout/app-sidebar-layout.tsx
  vitest.config.mts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(teaching): teaching-record table + restructure preview (non-destructive)
  src/app/teaching/preview/page.tsx
  src/features/teaching/components/teaching-record-table.tsx
  src/shared/lib/data/courses/iub-cse211/index.ts
  src/shared/types/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(teaching): restructure teaching page into Courses + Teaching record
  CLAUDE.md
  docs/superpowers/specs/2026-06-16-teaching-page-restructure.md
  package-lock.json
  package.json
  src/app/globals.css
  src/app/teaching/[institution]/[courseCode]/page.tsx
  src/app/teaching/bracu/cse420/page.tsx
  src/app/teaching/iub/page.tsx
  src/app/teaching/page.tsx
  src/app/teaching/preview/page.tsx
  src/features/teaching/components/assignments-section.tsx
  src/features/teaching/components/contest-countdown.tsx
  src/features/teaching/components/course-hero.tsx
  src/features/teaching/components/course-page-layout.tsx
  src/features/teaching/components/exam-schedule.tsx
  src/features/teaching/components/index.ts
  src/features/teaching/components/institution-courses-page.tsx
  src/features/teaching/components/notice-board.tsx
  src/features/teaching/components/overview-section.tsx
  src/features/teaching/components/resources-section.tsx
  src/features/teaching/components/schedule-section.tsx
  src/features/teaching/components/schedule-table.tsx
  src/features/teaching/components/syllabus-section.tsx
  src/features/teaching/components/syllabus-table.tsx
  src/features/teaching/components/teaching-tabs.client.tsx
  src/features/teaching/index.ts
  src/shared/components/ui/accordion.tsx
  src/shared/components/ui/collapsible-section.tsx
  src/shared/lib/data/courses/bracu-cse420.ts
  src/shared/lib/data/courses/bracu-cse420/modules.ts
  src/shared/lib/data/courses/index.ts
  src/shared/lib/data/teaching-pillars.ts
  tests/e2e/fixtures/routes.ts
  tests/features/teaching/teaching-components.test.tsx
  tests/shared/components/ui/primitives.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(nav): align teaching navigation with the restructured /teaching page
  src/app/sitemap.ts
  src/shared/components/navigation/navbar.tsx
  src/shared/components/ui/command-menu.tsx
  src/shared/config/navigation.ts
  tests/shared/components/navigation/navbar.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: post-restructure cleanup — prune orphaned course data, fix docs/SEO, surface secondary nav
  .claude/skills/add-course/SKILL.md
  .github/lighthouserc.js
  CLAUDE.md
  public/llms.txt
  src/app/experience/page.tsx
  src/app/service-awards/page.tsx
  src/app/service/page.tsx
  src/app/sitemap.ts
  src/app/teaching/[institution]/[courseCode]/page.tsx
  src/features/teaching/components/course-card-compact.tsx
  src/features/teaching/components/index.ts
  src/features/teaching/components/mentorship-section.tsx
  src/features/teaching/components/styles.ts
  src/features/teaching/index.ts
  src/shared/components/layout/sidebar/navigation-section.tsx
  src/shared/components/ui/command-menu.tsx
  src/shared/lib/data/courses/iub-cse211/index.ts
  src/shared/lib/data/courses/iub-cse211/modules.ts
  src/shared/lib/data/courses/iub-cse211/schedule.ts
  src/shared/lib/structured-data.ts
  src/shared/types/index.ts
  tests/features/teaching/teaching-components.test.tsx
  tests/shared/components/common/components.test.tsx
  tests/shared/lib/course-data.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(apps): correctness fixes in exam-countdown, calculators, study-timer + math test net
  src/features/apps/components/exam-countdown/exam-countdown.utils.ts
  src/features/apps/components/exam-countdown/use-exam-countdown.ts
  src/features/apps/components/gpa-calculator/gpa-calculator.tsx
  src/features/apps/components/gpa-calculator/gpa-calculator.utils.ts
  src/features/apps/components/gpa-calculator/use-gpa-calculator.ts
  src/features/apps/components/grade-calculator/use-grade-calculator.ts
  src/features/apps/components/study-timer/use-study-timer.ts
  tests/features/apps/exam-countdown.utils.test.ts
  tests/features/apps/gpa-calculator.utils.test.ts
  tests/features/apps/grade-calculator.utils.test.ts
  tests/features/apps/study-timer.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(courses): centralize course slug/path derivation + guard imports; close test gaps
  src/app/sitemap.ts
  src/app/teaching/[institution]/[courseCode]/page.tsx
  src/shared/components/common/use-data-importer.ts
  src/shared/config/navigation.ts
  src/shared/lib/course-utils.ts
  src/shared/lib/parsers/papaparse-adapter.ts
  src/shared/lib/parsers/xlsx-adapter.ts
  src/shared/lib/structured-data.ts
  tests/features/apps/seat-planner.test.ts
  tests/shared/lib/course-utils.test.ts
  tests/shared/lib/parsers.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: add forensic audit report + teaching-page handoff/revamp brief
  docs/forensic-audit-2026-06-17.md
  docs/teaching-page-handoff-and-revamp-brief.md
Due: prettier --write

style(headings): converge section headings to one canonical style
  src/app/publications/page.tsx
  src/features/about/components/awards-section.tsx
  src/features/about/components/certifications-section.tsx
  src/features/about/components/skills-section.tsx
  src/features/apps/components/apps-hub.tsx
  src/features/apps/components/exam-countdown/exam-countdown-toolbar.tsx
  src/features/home/components/connect-section.tsx
  src/features/home/components/content-previews.tsx
  src/features/home/components/news-section.tsx
  src/features/home/components/research-highlights.tsx
  src/features/research/components/featured-projects.tsx
  src/features/research/components/open-source.tsx
  src/features/research/components/primary-areas.tsx
  src/features/research/components/research-cta.tsx
  src/features/research/components/research-timeline.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(teaching): link the featured course card + reconcile DESIGN.md to shipped reality
  DESIGN.md
  src/features/teaching/components/course-card.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(layout): add PageHeader / SectionHeading / ContentColumn primitives
  src/app/publications/page.tsx
  src/shared/components/layout/content-column.tsx
  src/shared/components/layout/page-header.tsx
  src/shared/components/layout/section-heading.tsx
  tests/shared/components/layout/layout-primitives.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(pages): migrate content-page headers onto the layout primitives
  src/app/blog/page.tsx
  src/app/contact/page.tsx
  src/app/research/page.tsx
  src/app/talks/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(teaching): build the teaching-index revamp on /teaching/preview (demo-first)
  src/app/globals.css
  src/app/teaching/preview/error.tsx
  src/app/teaching/preview/page.tsx
  src/features/teaching/components/teaching-revamp/course-pages-table.tsx
  src/features/teaching/components/teaching-revamp/institution-data.ts
  src/features/teaching/components/teaching-revamp/institutions-filter.tsx
  src/features/teaching/components/teaching-revamp/supervision-section.tsx
  src/features/teaching/components/teaching-revamp/teaching-assistants-section.tsx
  src/features/teaching/components/teaching-revamp/teaching-figures.tsx
  src/features/teaching/components/teaching-revamp/teaching-index.tsx
  src/features/teaching/components/teaching-revamp/teaching-record.tsx
  src/shared/components/ui/collapsible-section.tsx
  src/shared/components/ui/segmented.tsx
  src/shared/lib/data/supervision.ts
  src/shared/lib/data/teaching-assistants.ts
  src/shared/lib/data/teaching-stats.ts
  src/shared/types/teaching.ts
  src/styles/tokens.css
  tests/e2e/fixtures/routes.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(teaching): swap the revamped index live; remove the superseded components
  src/app/teaching/page.tsx
  src/app/teaching/preview/error.tsx
  src/app/teaching/preview/page.tsx
  src/features/home/components/hero-section.tsx
  src/features/teaching/components/course-card.tsx
  src/features/teaching/components/index.ts
  src/features/teaching/components/mentorship-section.tsx
  src/features/teaching/components/styles.ts
  src/features/teaching/components/teaching-cta.tsx
  src/features/teaching/components/teaching-hero-stats.tsx
  src/features/teaching/components/teaching-index/course-pages-table.tsx
  src/features/teaching/components/teaching-index/institution-data.ts
  src/features/teaching/components/teaching-index/institutions-filter.tsx
  src/features/teaching/components/teaching-index/supervision-section.tsx
  src/features/teaching/components/teaching-index/teaching-assistants-section.tsx
  src/features/teaching/components/teaching-index/teaching-figures.tsx
  src/features/teaching/components/teaching-index/teaching-index.tsx
  src/features/teaching/components/teaching-index/teaching-record.tsx
  src/features/teaching/components/teaching-record-table.tsx
  src/features/teaching/index.ts
  src/shared/lib/data/mentorship.ts
  src/shared/lib/data/teaching-stats.ts
  src/shared/types/teaching.ts
  tests/e2e/fixtures/routes.ts
  tests/features/teaching/styles.test.ts
  tests/features/teaching/teaching-components.test.tsx
  tests/shared/components/common/components.test.tsx
  tests/shared/lib/data-integrity.test.ts
  tests/shared/lib/data.test.ts
  tests/shared/lib/teaching-figures.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit
