Repository mdasifbinkhaled/mdasifbinkhaled.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write",
    "tsc-files --noEmit"
  ],
  "tests/**/*.{ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{js,mjs,cjs,jsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{json,md,mdx}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "*.{yaml,yml}": ["prettier --write"]
}

feat(teaching): uniform course cards and single detailed page (CSE211)
  src/app/teaching/teaching-tabs.client.tsx
  src/features/teaching/course-card.tsx
  src/shared/lib/data/courses/index.json
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: resolve all audit issues
  .cockpit/PMD.md
  tests/shared/lib/data.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: update test count in PMD (89+ → 98)
  .cockpit/PMD.md
  tests/backtotop.single.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: optimize tailwind config and upgrade eslint
  package.json
  src/features/teaching/course-card-compact.tsx
  src/features/teaching/course-card.tsx
  src/shared/components/common/stat-card.tsx
  src/shared/components/layout/profile-sidebar.tsx
  tailwind.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: fix remaining hardcoded tailwind class
  src/features/teaching/course-card.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: update PMD and plans post-optimization
  .cockpit/PMD.md
Due: prettier --write

chore: update dependencies and clean cache
  package-lock.json
Due: prettier --write

chore: generalize address and verify polish
  src/features/home/components/hero-section.tsx
  src/shared/components/layout/profile-sidebar.tsx
  src/shared/config/site.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor: course page detail and final system polish
  .cockpit/PMD.md
  src/app/contact/page.tsx
  src/features/about/components/cta-section.tsx
  src/features/teaching/course-card.tsx
  src/features/teaching/course-page-layout.tsx
  src/shared/config/site.ts
  src/shared/lib/data/about.ts
  src/shared/lib/data/courses/index.json
  src/shared/lib/validation/schemas.ts
  tests/components.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: system rebuild, fresh install, and stability docs update
  .cockpit/PMD.md
  package-lock.json
  package.json
Due: prettier --write

feat(teaching): populate CSE211 content and refine course page UX
  src/features/teaching/course-page-layout.tsx
  src/shared/lib/data/courses/index.json
  src/shared/lib/validation/schemas.ts
  src/shared/types/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(build): disable eslint during next build to resolve deprecated options error
  next.config.ts
Due: none

feat(ui): implement dual time display in profile sidebar
  src/shared/components/common/index.ts
  src/shared/components/common/time-display.tsx
  src/shared/components/layout/profile-sidebar.tsx
  tests/setup.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(ci): switch to npm install to bypass lockfile sync issues
  .github/workflows/nextjs.yml
Due: prettier --write

feat(ux): maximize course page width and remove redundant links
  src/features/teaching/course-page-layout.tsx
  src/shared/lib/data/courses/index.json
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(ux): implement collapsible resources library and enrich algorithm data
  package-lock.json
  package.json
  src/features/teaching/course-page-layout.tsx
  src/shared/components/ui/accordion.tsx
  src/shared/lib/data/courses/index.json
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(ux): restore semester video archives and polish resource button styling
  src/features/teaching/course-page-layout.tsx
  src/shared/lib/data/courses/index.json
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(ux): implement systematic design optimization (hybrid grid, unified width)
  src/features/teaching/course-page-layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore(test): add data integrity tests and clean up build artifacts
  tests/data-integrity.test.ts
  tests/setup.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(lint): resolve eslint directive placement and final verifications
  src/features/teaching/course-page-layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(data): migrate course data to TS architecture
  src/shared/lib/data/courses.ts
  src/shared/lib/data/courses/bracu-cse284.ts
  src/shared/lib/data/courses/bracu-cse420.ts
  src/shared/lib/data/courses/bracu-cse423.ts
  src/shared/lib/data/courses/bracu-cse489.ts
  src/shared/lib/data/courses/index.json
  src/shared/lib/data/courses/index.ts
  src/shared/lib/data/courses/iub-cse101.ts
  src/shared/lib/data/courses/iub-cse110.ts
  src/shared/lib/data/courses/iub-cse201.ts
  src/shared/lib/data/courses/iub-cse203.ts
  src/shared/lib/data/courses/iub-cse211.ts
  src/shared/lib/data/courses/iub-cse317.ts
  src/shared/lib/data/courses/iub-cse331.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(teaching): add class schedule table with responsive design
  src/features/teaching/components/schedule-table.tsx
  src/features/teaching/course-page-layout.tsx
  src/shared/components/ui/table.tsx
  src/shared/lib/data/courses/iub-cse211.ts
  src/shared/lib/validation/schemas.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

style(teaching): redesign class schedule table to modern excel grid
  src/features/teaching/components/schedule-table.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

style(teaching): show full faculty email address in schedule table
  src/features/teaching/components/schedule-table.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore(deps): upgrade next.js to 15.5.9 (critical security patch)
  package-lock.json
  package.json
Due: prettier --write

chore(deps): apply safe minor/patch updates and fix formatting
  package-lock.json
  src/shared/components/ui/badge.tsx
  src/shared/components/ui/button.tsx
  src/shared/components/ui/sheet.tsx
  vitest.d.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(fonts): add JetBrains Mono for consistent monospace rendering
  src/app/layout.tsx
  tailwind.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

style(typography): add justified text alignment for paragraphs
  src/app/globals.css
Due: prettier --write

chore(data): update teaching stats to 4.31 rating avg over 21 semesters
  src/features/teaching/teaching-hero-stats.tsx
  src/shared/config/constants.ts
  src/shared/lib/data/teaching-stats.ts
  src/shared/types/teaching.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat: systematic visual upgrade, data centralization, and analytics integration
  package-lock.json
  package.json
  src/app/cv/page.tsx
  src/app/teaching/[institution]/[courseCode]/page.tsx
  src/app/teaching/bracu/page.tsx
  src/app/teaching/iub/page.tsx
  src/app/teaching/page.tsx
  src/app/teaching/teaching-tabs.client.tsx
  src/features/home/components/connect-section.tsx
  src/features/home/components/hero-section.tsx
  src/features/home/components/research-highlights.tsx
  src/features/teaching/components/schedule-table.tsx
  src/features/teaching/course-page-layout.tsx
  src/features/teaching/teaching-hero-stats.tsx
  src/features/teaching/teaching-trend-chart.tsx
  src/shared/components/common/stat-card.tsx
  src/shared/components/common/time-display.tsx
  src/shared/components/layout/app-sidebar-layout.tsx
  src/shared/components/ui/motion.tsx
  src/shared/components/ui/toast.tsx
  src/shared/config/constants.ts
  src/shared/lib/analytics.ts
  src/shared/lib/data/courses/iub-cse211.ts
  src/shared/lib/data/evaluations.ts
  src/shared/lib/data/faculty.ts
  src/shared/lib/data/teaching-stats.ts
  src/shared/lib/validation/schemas.ts
  tailwind.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(home): dynamic calculation of years experience and stats
  .cockpit/PMD.md
  src/features/home/components/hero-section.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(data): refined years experience calc and decluttered visuals
  src/features/home/components/hero-section.tsx
  src/shared/components/common/stat-card.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(ui): systematic density reduction and visual declutter
  src/app/research/page.tsx
  src/features/about/components/hero-section.tsx
  src/features/home/components/hero-section.tsx
  src/features/teaching/teaching-hero-stats.tsx
  src/shared/components/common/publication-list.tsx
  src/shared/components/common/stat-card.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore(system): final forensic audit and cleanup
  src/app/teaching/bracu/page.tsx
  src/app/teaching/iub/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(data): add missing aggregators.ts file to source control
  src/shared/lib/data/aggregators.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(sota): integrate command menu, spotlight, and typed routes (v5.0.0)
  .cockpit/PMD.md
  next.config.ts
  package-lock.json
  package.json
  src/features/home/components/hero-section.tsx
  src/features/teaching/course-page-layout.tsx
  src/shared/components/common/stat-card.tsx
  src/shared/components/navigation/navbar.tsx
  src/shared/components/ui/command-menu.tsx
  src/shared/components/ui/dialog.tsx
  src/shared/components/ui/spotlight-card.tsx
  src/shared/config/navigation.ts
  tests/navbar.active.test.tsx
  tests/navbar.test.tsx
  tests/sidebar.a11y.test.tsx
  tests/sidebar.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(build): revert to CJS to resolve CI next.config.js error
  package.json
  vitest.config.mts
Due: prettier --write

feat(search): robust command menu and system integrity verification
  next.config.ts
  src/shared/components/ui/command-menu.tsx
  tests/navbar.active.test.tsx
  tests/navbar.test.tsx
  tests/sidebar.a11y.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(design): implement SOTA fluid responsiveness and density upgrades
  src/app/globals.css
  src/features/home/components/content-previews.tsx
  src/features/home/components/hero-section.tsx
  src/features/home/components/news-section.tsx
  src/features/home/components/research-highlights.tsx
  tailwind.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit
