Repository mdasifbinkhaled/mdasifbinkhaled.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc-files --noEmit

fix(deps): correct dependabot.yml configuration
  .github/dependabot.yml
Due: prettier --write

feat(layout): improve sidebar mobile contrast, desktop a11y, and global BackToTop
  src/shared/components/layout/app-sidebar-layout.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: complete portfolio refactoring with next.js 15 and accessibility enhancements
  package-lock.json
  package.json
  public/cv/cv.pdf
  public/images/og-image.png
  public/images/profile.jpg
  src/app/layout.tsx
  src/app/publications/page.tsx
  src/app/service/page.tsx
  src/features/publications/publication-card.tsx
  src/features/teaching/simple-course-card.tsx
  src/shared/components/common/back-to-top.tsx
  src/shared/components/common/experience-compact.tsx
  src/shared/components/common/lazy-components.tsx
  src/shared/components/common/motion-page.tsx
  src/shared/components/common/publication-list.tsx
  src/shared/components/common/structured-data.tsx
  src/shared/components/layout/app-sidebar-layout.tsx
  src/shared/components/navigation/navbar.tsx
  src/shared/components/ui/academic-error-boundary.tsx
  src/shared/components/ui/form.tsx
  src/shared/components/ui/index.ts
  src/shared/components/ui/sidebar.tsx
  src/shared/config/assets.ts
  src/shared/config/navigation.ts
  src/shared/config/themes.ts
  src/shared/lib/data/courses.ts
  src/shared/lib/data/experience.ts
  src/shared/lib/data/publications.ts
  src/shared/lib/index.ts
  src/shared/lib/structured-data.ts
  src/shared/lib/validation.ts
  src/styles/globals.css
  src/styles/tokens.css
  tests/back-to-top.test.tsx
  tests/navbar.test.tsx
  tests/sidebar.test.tsx
  tsconfig.json
  tsconfig.o4mn8yl61dn.json
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: comprehensive website overhaul and optimization
  next.config.js
  next.config.ts
  package-lock.json
  package.json
  postcss.config.mjs
  public/cv/CV_Md_Asif_Bin_Khaled.pdf
  public/images/og-image.svg
  public/images/profile.svg
  src/app/contact/page.tsx
  src/app/layout.tsx
  src/app/research/page.tsx
  src/app/service-awards/page.tsx
  src/shared/components/layout/app-providers.tsx
  src/shared/components/layout/app-sidebar-layout.tsx
  src/shared/components/navigation/navbar.tsx
  src/shared/components/ui/academic-error-boundary.tsx
  src/shared/components/ui/accordion.tsx
  src/shared/components/ui/alert.tsx
  src/shared/components/ui/avatar.tsx
  src/shared/components/ui/checkbox.tsx
  src/shared/components/ui/dialog.tsx
  src/shared/components/ui/dropdown-menu.tsx
  src/shared/components/ui/index.ts
  src/shared/components/ui/label.tsx
  src/shared/components/ui/select.tsx
  src/shared/components/ui/tabs.tsx
  src/shared/components/ui/tooltip.tsx
  src/shared/config/assets.ts
  src/shared/lib/data/experience.ts
  src/shared/providers/app-providers.tsx
  tailwind.config.ts
  tests/backtotop.single.test.tsx
  tests/navbar.active.test.tsx
  tests/sidebar.a11y.test.tsx
  tests/sidebar.test.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: remove conflicting ESLint config to fix deployment
  eslint.config.js
Due: none

fix: optimize build and deployment configuration
  .github/workflows/deploy.yml
  next.config.ts
Due: prettier --write

fix: resolve Next.js config conflict in GitHub Actions
  .github/workflows/deploy.yml
  .gitignore
Due: prettier --write

fix: remove lint script and enhance workflow cleanup
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

fix: force remove conflicting CommonJS config files
  .github/workflows/deploy.yml
  .gitignore
Due: prettier --write

refactor: comprehensive codebase cleanup and optimization
  package-lock.json
  package.json
  public/site.webmanifest
  src/app/about/page.tsx
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/research/page.tsx
  src/app/teaching/page.tsx
  src/features/teaching/simple-course-card.tsx
  src/shared/components/common/index.ts
  src/shared/components/common/theme-provider.tsx
  src/shared/components/layout/app-providers.tsx
  src/shared/components/layout/app-sidebar-layout.tsx
  src/shared/components/layout/client-mount-provider.tsx
  src/shared/components/layout/index.ts
  src/shared/components/layout/main-layout-client.tsx
  src/shared/components/layout/profile-sidebar.tsx
  src/shared/components/ui/error-boundary.tsx
  src/shared/components/ui/index.ts
  src/shared/components/ui/scroll-area.tsx
  src/shared/components/ui/table.tsx
  src/styles/globals.css
  src/styles/tokens.css
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: implement critical fixes from code audit
  package-lock.json
  package.json
  postcss.config.mjs
  src/app/layout.tsx
  src/shared/components/layout/app-sidebar-layout.tsx
  src/shared/components/layout/profile-sidebar.tsx
  src/shared/providers/app-providers.tsx
  src/styles/tokens.css
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: comprehensive codebase audit and optimization
  .nvmrc
  CODE_OF_CONDUCT.md
  README.md
  docs/blueprint.md
  package.json
  src/app/about/page.tsx
  src/app/cv/page.tsx
  src/app/layout-with-structured-data.tsx
  src/app/page-with-seo.tsx
  src/app/publications/page.tsx
  src/app/research/page.tsx
  src/app/teaching/page.tsx
  src/features/publications/enhanced-publication-card.tsx
  src/features/publications/index.ts
  src/features/publications/publication-card.tsx
  src/features/teaching/comprehensive-course-card.tsx
  src/features/teaching/index.ts
  src/shared/components/common/index.ts
  src/shared/components/common/lazy-components.tsx
  src/shared/components/common/mobile-theme-fab.tsx
  src/shared/components/layout/profile-sidebar.tsx
  src/shared/components/navigation/navbar.tsx
  src/shared/components/ui/theme-selector.tsx
  tailwind.config.ts
  tests/analytics.test.tsx
  tests/components.test.tsx
  tests/navbar.test.tsx
  tests/select.test.tsx
  tests/setup.ts
  tests/sheet.test.tsx
  tests/sidebar.a11y.test.tsx
  tests/sidebar.test.tsx
  tests/tabs.test.tsx
  tests/theme-selector.test.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: resolve GitHub Actions pipeline ESLint and Node.js compatibility issues
  .github/workflows/nextjs.yml
  package-lock.json
  package.json
  src/shared/components/common/structured-data.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

chore: comprehensive infrastructure modernization and dependency updates
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/nextjs.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  eslint.config.mjs
  package-lock.json
  package.json
  vitest.config.ts
Due: prettier --write

fix: remove 'type: module' from package.json to fix Next.js build
  package.json
Due: prettier --write

docs: add comprehensive group A analysis and codeql setup instructions
  docs/codeql-setup-instructions.md
  docs/deep-analysis-findings.md
  docs/group-a-assessment.md
Due: prettier --write

docs: add cleanup and push summary report
  docs/cleanup-push-summary.md
Due: prettier --write

refactor: fix critical architecture and type issues (#2, #3, #4)
  docs/codeql-setup-instructions.md
  docs/critical-fixes-summary.md
  docs/issues-by-severity.md
  src/features/teaching/simple-course-card.tsx
  src/shared/components/common/experience-compact.tsx
  src/shared/lib/data/courses.ts
  src/shared/lib/data/experience.ts
  src/shared/types/index.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

docs: add comprehensive verification report for critical fixes
  docs/verification-report.md
Due: prettier --write

chore: verify code scanning is enabled and working
  docs/codeql-verification.md
Due: prettier --write

Add CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Due: prettier --write

chore: remove duplicate CodeQL workflow (using security.yml instead)
  .github/workflows/codeql.yml
Due: prettier --write

fix: quick wins - issues #5, #7, #10 (3 easiest fixes)
  check-codeql.sh
  docs/deep-analysis-group-a.md
  docs/quick-wins-completion-report.md
  src/app/about/error.tsx
  src/app/contact/error.tsx
  src/app/error.tsx
  src/app/experience/error.tsx
  src/app/page.tsx
  src/app/publications/error.tsx
  src/app/research/error.tsx
  src/app/service-awards/error.tsx
  src/app/teaching/error.tsx
  src/app/teaching/page.tsx
  src/features/academic/academic-search.tsx
  src/features/teaching/simple-course-card.tsx
  src/shared/components/common/back-to-top.tsx
  src/shared/components/common/error-fallback.tsx
  src/shared/components/common/experience-compact.tsx
  src/shared/components/common/index.ts
  src/shared/components/ui/theme-selector.tsx
  src/shared/config/constants.ts
  src/shared/config/index.ts
  src/shared/lib/data/publications.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: issues #6 and #8 - dynamic routing and zod validation
  docs/issues-6-8-completion-report.md
  docs/system-verification-oct15.md
  package-lock.json
  package.json
  src/app/teaching/[institution]/[courseCode]/page.tsx
  src/app/teaching/bracu/cse110/page.tsx
  src/app/teaching/bracu/cse420/page.tsx
  src/app/teaching/bracu/cse423/page.tsx
  src/app/teaching/bracu/cse489/page.tsx
  src/app/teaching/bracu/mat361/page.tsx
  src/app/teaching/iub/cse101/page.tsx
  src/app/teaching/iub/cse201/page.tsx
  src/app/teaching/iub/cse203/page.tsx
  src/app/teaching/iub/cse205/page.tsx
  src/app/teaching/iub/cse220/page.tsx
  src/app/teaching/iub/cse221/page.tsx
  src/app/teaching/iub/cse303/page.tsx
  src/app/teaching/iub/cse401/page.tsx
  src/app/teaching/iub/cse403/page.tsx
  src/app/teaching/iub/cse423/page.tsx
  src/shared/lib/data/courses.ts
  src/shared/lib/data/experience.ts
  src/shared/lib/data/publications.ts
  src/shared/lib/index.ts
  src/shared/lib/validation/schemas.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: refactor courses.ts into individual JSON files (Issue #1)
  docs/issue-1-completion-report.md
  docs/issue-1-implementation-plan.md
  docs/post-implementation-verification.md
  src/shared/lib/data/courses.ts
  src/shared/lib/data/courses/bracu/android-lab.json
  src/shared/lib/data/courses/bracu/cd-lab.json
  src/shared/lib/data/courses/bracu/cg-lab.json
  src/shared/lib/data/courses/bracu/nm-lab.json
  src/shared/lib/data/courses/iub/cse101.json
  src/shared/lib/data/courses/iub/cse201.json
  src/shared/lib/data/courses/iub/cse203.json
  src/shared/lib/data/courses/iub/cse205.json
  src/shared/lib/data/courses/iub/cse303.json
  src/shared/lib/data/courses/iub/cse401.json
  src/shared/lib/data/courses/iub/cse403.json
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: resolve code quality issues and cleanup
  docs/issue-1-verification-report.md
  src/features/academic/academic-search.tsx
  src/shared/components/ui/pdf-viewer.tsx
  tests/sidebar.test.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: add reusable search/filter hooks and composite types (Issues #9, #16)
  docs/code-quality-fixes-summary.md
  src/shared/hooks/index.ts
  src/shared/hooks/use-filter.ts
  src/shared/hooks/use-search-and-filter.ts
  src/shared/hooks/use-search.ts
  src/shared/hooks/use-toast.ts
  src/shared/types/index.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: add performance optimization with debouncing (Issue #14)
  src/shared/hooks/index.ts
  src/shared/hooks/use-debounce.ts
  src/shared/hooks/use-search-and-filter.ts
  src/shared/hooks/use-search.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

docs: add comprehensive session report for systematic issue resolution
  docs/systematic-resolution-session-report.md
Due: prettier --write

refactor: remove over-engineered unused code and fix false completion claims
  docs/cleanup-push-summary.md
  docs/cleanup-report-oct15.md
  docs/code-quality-fixes-summary.md
  docs/codeql-verification.md
  docs/critical-fixes-summary.md
  docs/deep-analysis-findings.md
  docs/deep-analysis-group-a.md
  docs/group-a-assessment.md
  docs/issue-1-completion-report.md
  docs/issue-1-implementation-plan.md
  docs/issue-1-verification-report.md
  docs/issues-6-8-completion-report.md
  docs/issues-by-severity.md
  docs/post-implementation-verification.md
  docs/quick-wins-completion-report.md
  docs/system-verification-oct15.md
  docs/systematic-resolution-session-report.md
  docs/verification-report.md
  src/shared/hooks/index.ts
  src/shared/hooks/use-debounce.ts
  src/shared/hooks/use-filter.ts
  src/shared/hooks/use-search-and-filter.ts
  src/shared/hooks/use-search.ts
  src/shared/types/index.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor: break down academic-search.tsx into modular components (Issue #11)
  src/features/academic/academic-search.tsx
  src/features/academic/components/filter-bar.tsx
  src/features/academic/components/index.ts
  src/features/academic/components/search-input.tsx
  src/features/academic/components/search-result-card.tsx
  src/features/academic/components/search-results.tsx
  src/features/academic/hooks/use-search-filter.ts
  src/features/academic/utils/get-type-icon.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor(academic): remove over-engineering from Issue #11 refactor
  src/features/academic/academic-search.tsx
  src/features/academic/components/filter-bar.tsx
  src/features/academic/components/search-result-card.tsx
  src/features/academic/components/search-results.tsx
  src/features/academic/hooks/use-search-filter.ts
  src/features/academic/types.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

docs: update issue tracker - all 8 critical issues complete
  docs/issues-by-severity.md
Due: prettier --write

docs: document icon handling patterns (Issue #13 not applicable)
  docs/icon-handling-patterns.md
Due: prettier --write

feat: performance optimization with debouncing and memoization
  src/features/academic/academic-search.tsx
  src/features/teaching/simple-course-card.tsx
  src/shared/components/common/publication-list.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/use-debounce.ts
  src/shared/lib/analytics.ts
  tsconfig.json
Due: eslint --fix, prettier --write, tsc-files --noEmit

chore: cleanup and fix test environment detection
  docs/issues-by-severity.md
  src/shared/components/common/index.ts
  src/shared/hooks/use-toast.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

docs: add comprehensive session summary for Oct 15, 2025
  docs/session-summary-oct15-2025.md
Due: prettier --write

refactor: replace any type with proper gtag type definition
  src/shared/lib/analytics.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

docs: add comprehensive extensive recheck report for Oct 15, 2025
  docs/extensive-recheck-oct15-2025.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx,js,jsx}
  prettier --write: (any of: src/**/*.{ts,tsx,js,jsx}) or (any of: **/*.{json,md,mdx,css,yaml,yml})
  tsc-files --noEmit: any of: src/**/*.{ts,tsx}
