Repository mdasifbinkhaled/mdasifbinkhaled.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor: comprehensive codebase remediation
  docs/archived/oct2025/RECOMMENDED_IMPROVEMENTS_APPLIED.md
  docs/archived/oct2025/cleanup-report-oct15.md
  docs/archived/oct2025/navigation-optimization-implementation.md
  docs/archived/oct2025/spacing-standardization-complete.md
  docs/audits/GROUP_A_COMPREHENSIVE_AUDIT_REPORT.md
  docs/refactoring/REFACTORING_SUMMARY_JAN2025.md
  package-lock.json
  package.json
  src/app/about/page.tsx
  src/app/globals.css
  src/app/page.tsx
  src/features/home/components/connect-section.tsx
  src/features/home/components/hero-section.tsx
  src/features/teaching/collapsible-course-card.tsx
  src/features/teaching/simple-course-card.tsx
  src/features/teaching/teaching-hero-stats.tsx
  src/shared/components/common/experience-compact.tsx
  src/shared/components/common/news-feed.tsx
  src/shared/components/common/stat-card.tsx
  src/shared/components/common/structured-data.tsx
  src/shared/config/site.ts
  src/shared/config/themes.ts
  src/shared/lib/data/news.ts
  src/shared/lib/seo/json-ld.ts
  src/shared/lib/structured-data.ts
  src/shared/providers/app-providers.tsx
  src/shared/types/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: add final audit reports and consolidate config
  docs/audits/FINAL_FORENSIC_ANALYSIS_DEC2024.md
  docs/audits/REMEDIATION_REPORT_DEC2024.md
  src/shared/config/researcher-profile.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: establish project cockpit and cleanup artifacts
  .cockpit/PMD.md
  .gitignore
  check-codeql.sh
  docs/PROJECT_OVERVIEW.md
  docs/README.md
  docs/archived/IMPLEMENTATION_HISTORY.md
Due: prettier --write

chore: upgrade project master document (PMD) to v2.0.0
  .cockpit/PMD.md
Due: prettier --write

fix(deps): upgrade next.js to canary and mitigate audit failure
  .cockpit/PMD.md
  .github/workflows/security.yml
  package-lock.json
  package.json
  src/app/teaching/[institution]/[courseCode]/page.tsx
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(ui): restore sticky sidebar behavior from commit d198cf4
  src/shared/components/layout/app-sidebar-layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(ui): upgrade navigation architecture to systematic SSoT
  src/shared/components/layout/app-sidebar-layout.tsx
  src/shared/components/layout/profile-sidebar.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(tests): update fixtures for systematic UI upgrades
  tests/components.test.tsx
  tests/setup.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor(ui): optimize homepage layout for visibility
  src/features/home/components/hero-section.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(ui): redesign homepage hero layout
  src/app/page.tsx
  src/features/home/components/hero-section.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor(ui): restore news to page body, align stats in hero action bar, upgrade sidebar
  src/app/page.tsx
  src/features/home/components/hero-section.tsx
  src/shared/components/layout/app-sidebar-layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(ui): polish typography and layout behavior
  src/features/home/components/hero-section.tsx
  src/shared/components/layout/profile-sidebar.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix(layout): enforce fixed sidebar and remove duplicate navigation
  src/shared/components/layout/app-sidebar-layout.tsx
  src/shared/components/layout/profile-sidebar.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

style(ui): apply mathematical beautification (8pt grid, vertical rhythm)
  src/features/home/components/hero-section.tsx
  src/shared/components/layout/app-sidebar-layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(ui): optimize hero stats and remove redundancies
  src/features/home/components/hero-section.tsx
  src/shared/components/layout/profile-sidebar.tsx
  src/shared/config/site.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(ui): redesign hero layout for better hierarchy
  src/features/home/components/hero-section.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

style(sidebar): systematic visual upgrade
  src/shared/components/layout/profile-sidebar.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore(tests): update sidebar text expectation to match new UI
  tests/components.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor(ui): unify stat card design system
  src/features/home/components/hero-section.tsx
  src/features/teaching/teaching-hero-stats.tsx
  src/shared/components/common/stat-card.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

refactor: type unification & codebase cleanup
  src/app/about/page.tsx
  src/app/contact/page.tsx
  src/app/publications/page.tsx
  src/app/research/page.tsx
  src/features/teaching/student-testimonials.tsx
  src/shared/components/ui/card.tsx
  src/shared/lib/data/about.ts
  src/shared/lib/validation/schemas.ts
  src/shared/types/index.ts
  tests/setup.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: update PMD to v3.0.0
  .cockpit/PMD.md
Due: prettier --write

docs: update PMD to v4.0.0 - comprehensive documentation
  .cockpit/PMD.md
Due: prettier --write

docs: pmd v4.1.0 complete component inventory
  .cockpit/PMD.md
Due: prettier --write

chore: comprehensive codebase finalization
  .cockpit/PMD.md
  next.config.ts
  package-lock.json
  package.json
  src/app/about/page.tsx
  src/features/about/components/awards-section.tsx
  src/features/about/components/beyond-academia.tsx
  src/features/about/components/biography-section.tsx
  src/features/about/components/certifications-section.tsx
  src/features/about/components/cta-section.tsx
  src/features/about/components/education-section.tsx
  src/features/about/components/experience-section.tsx
  src/features/about/components/hero-section.tsx
  src/features/about/components/highlights-section.tsx
  src/features/about/components/index.ts
  src/features/about/components/quick-facts.tsx
  src/features/about/components/research-philosophy.tsx
  src/features/about/components/skills-section.tsx
  src/features/academic/components/filter-bar.tsx
  tailwind.config.ts
  tests/setup.ts
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: remove type:module that broke CI build
  next.config.ts
  package.json
Due: prettier --write

refactor: eliminate hardcoded values for SSoT compliance
  src/app/layout.tsx
  src/features/about/components/education-section.tsx
  src/shared/components/common/structured-data.tsx
  src/shared/components/layout/app-sidebar-layout.tsx
  src/shared/config/site.ts
  src/shared/lib/data/education.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

fix: resolve all hardcoding and lint issues for world-class quality
  .cockpit/PMD.md
  src/app/cv/page.tsx
  src/app/teaching/page.tsx
  src/features/academic/components/filter-bar.tsx
  src/shared/components/layout/profile-sidebar.tsx
  src/shared/config/site.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

ci: handle Next.js SSR-only vulnerabilities in static export
  .github/workflows/security.yml
Due: prettier --write

refactor: move PublicationCard to shared for proper dependency flow
  src/features/publications/index.ts
  src/shared/components/common/index.ts
  src/shared/components/common/publication-card.tsx
  src/shared/components/common/publication-list.tsx
  tests/analytics.test.tsx
  tests/components.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: implement audit fixes for production readiness
  package-lock.json
  vitest.config.ts
Due: prettier --write

docs: update PMD to v4.3.0 with audit score 8.8/10
  .cockpit/PMD.md
Due: prettier --write

chore: remove generated project documentation and artifacts
  CONTRIBUTING.md
  docs/archived/IMPLEMENTATION_HISTORY.md
  docs/archived/oct2025/BEAUTIFICATION_SUMMARY.md
  docs/archived/oct2025/CLEANUP_AND_STATUS_REPORT.md
  docs/archived/oct2025/COMPREHENSIVE_AUDIT_REPORT.md
  docs/archived/oct2025/CRITICAL_FIXES_APPLIED.md
  docs/archived/oct2025/OPTIMIZATION_IMPROVEMENTS.md
  docs/archived/oct2025/PROJECT_ANALYSIS.md
  docs/archived/oct2025/RECOMMENDED_IMPROVEMENTS_APPLIED.md
  docs/archived/oct2025/about-page-enhancements.md
  docs/archived/oct2025/beautification-improvement-plan.md
  docs/archived/oct2025/cleanup-report-oct15.md
  docs/archived/oct2025/consistency-improvements-jan2025.md
  docs/archived/oct2025/extensive-recheck-oct15-2025.md
  docs/archived/oct2025/homepage-about-differentiation-changes.md
  docs/archived/oct2025/homepage-about-page-similarity-analysis.md
  docs/archived/oct2025/icon-handling-patterns.md
  docs/archived/oct2025/issues-by-severity.md
  docs/archived/oct2025/navigation-optimization-implementation.md
  docs/archived/oct2025/navigation-optimization-plan.md
  docs/archived/oct2025/session-summary-oct15-2025.md
  docs/archived/oct2025/spacing-standardization-complete.md
  docs/archived/oct2025/theme-improvements-summary.md
  docs/archived/older/blueprint.md
  docs/audits/AUDIT_SUMMARY.md
  docs/audits/FINAL_FORENSIC_ANALYSIS_DEC2024.md
  docs/audits/GROUP_A_COMPREHENSIVE_AUDIT_REPORT.md
  docs/audits/REMEDIATION_REPORT_DEC2024.md
  docs/audits/codeql-setup-instructions.md
  docs/refactoring/REFACTORING_SUMMARY_JAN2025.md
Due: prettier --write

feat: refine layout, breadcrumbs, and course details
  src/app/about/page.tsx
  src/app/contact/page.tsx
  src/app/globals.css
  src/app/page.tsx
  src/app/research/page.tsx
  src/features/home/components/hero-section.tsx
  src/features/teaching/collapsible-course-card.tsx
  src/shared/components/common/hash-scroll.tsx
  src/shared/components/common/publication-card.tsx
  src/shared/components/layout/app-sidebar-layout.tsx
  src/shared/components/layout/profile-sidebar.tsx
  src/shared/components/navigation/navbar.tsx
  src/shared/lib/data/courses/iub/cse101.json
  src/shared/lib/data/courses/iub/cse201.json
  src/shared/lib/validation/schemas.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(teaching): switch to column layout and highlight detailed courses
  src/app/teaching/teaching-tabs.client.tsx
  src/features/teaching/collapsible-course-card.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

feat(teaching): correct all teaching data based on CV
  src/shared/config/constants.ts
  src/shared/config/site.ts
  src/shared/lib/data/courses.ts
  src/shared/lib/data/courses/bracu/cg-lab.json
  src/shared/lib/data/courses/iub/cse201-discrete-math.json
  src/shared/lib/data/courses/iub/cse205.json
  src/shared/lib/data/courses/iub/cse211.json
  src/shared/lib/data/courses/iub/cse317.json
  src/shared/lib/data/courses/iub/cse401.json
  src/shared/lib/data/courses/iub/cse403.json
  src/shared/lib/data/courses/iub/finite-automata.json
  src/shared/lib/data/courses/iub/fundamentals-cs.json
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: update PMD to v4.3.0 with verified teaching data
  .cockpit/PMD.md
Due: prettier --write

refactor(teaching): unify course card components and standardize design
  src/app/teaching/[institution]/[courseCode]/page.tsx
  src/app/teaching/bracu/page.tsx
  src/app/teaching/iub/page.tsx
  src/app/teaching/page.tsx
  src/app/teaching/teaching-tabs.client.tsx
  src/features/teaching/collapsible-course-card.tsx
  src/features/teaching/course-card.tsx
  src/features/teaching/index.ts
  src/features/teaching/simple-course-card.tsx
  src/features/teaching/student-testimonials.tsx
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: remove AI signature patterns from codebase
  src/features/academic/index.ts
  src/features/publications/index.ts
  src/features/teaching/index.ts
  src/shared/components/index.ts
  src/shared/config/themes.ts
  src/shared/lib/index.ts
  src/shared/lib/validation/schemas.ts
  src/shared/types/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

chore: complete AI signature cleanup
  src/shared/config/index.ts
  src/shared/config/researcher-profile.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc-files --noEmit

docs: update PMD to v4.4.0 with CourseCard unification and cleanup
  .cockpit/PMD.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=0: ((any of: src/**/*.{ts,tsx}) or (any of: tests/**/*.{ts,tsx})) or (any of: *.{js,mjs,cjs,jsx})
  prettier --write: (((((any of: src/**/*.{ts,tsx}) or (any of: tests/**/*.{ts,tsx})) or (any of: *.{js,mjs,cjs,jsx})) or (any of: *.{json,md,mdx})) or (any of: *.{css,scss})) or (any of: *.{yaml,yml})
  tsc-files --noEmit: any of: src/**/*.{ts,tsx}
